In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

Duplicate key in file WindowsPath('C:/Users/Hyoungrak Oh/.conda/envs/ETA3.9/lib/site-packages/matplotlib/mpl-data/matplotlibrc'), line 257 ('font.family: sans-serif')
Duplicate key in file WindowsPath('C:/Users/Hyoungrak Oh/.conda/envs/ETA3.9/lib/site-packages/matplotlib/mpl-data/matplotlibrc'), line 406 ('axes.unicode_minus: True  # use Unicode for the minus symbol rather than hyphen.  See')

In [2]:
rawtrain = pd.read_csv('./data/train.csv')
rawtest = pd.read_csv('./data/test.csv')
rawtarget = rawtrain['failure']
rawcolumns = rawtrain.columns
rawdata = pd.concat([rawtrain, rawtest], ignore_index = True)

In [3]:
data = pd.concat([rawtrain, rawtest], ignore_index = True)
data

,id,product_code,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,...,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,failure
0,0,A,80.10,material_7,material_8,9,5,7,8,4,...,10.672,15.859,17.594,15.193,15.029,NaN,13.034,14.684,764.100,0.0
1,1,A,84.89,material_7,material_8,9,5,14,3,3,...,12.448,17.947,17.915,11.755,14.732,15.425,14.395,15.631,682.057,0.0
2,2,A,82.43,material_7,material_8,9,5,12,1,5,...,12.715,15.607,NaN,13.798,16.711,18.631,14.094,17.946,663.376,0.0
3,3,A,101.07,material_7,material_8,9,5,13,2,6,...,12.471,16.346,18.377,10.020,15.250,15.562,16.154,17.172,826.282,0.0
4,4,A,188.06,material_7,material_8,9,5,9,2,8,...,10.337,17.082,19.932,12.428,16.182,12.760,13.153,16.412,579.885,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47340,47340,I,144.74,material_7,material_5,9,5,0,4,9,...,11.691,NaN,19.771,11.562,17.246,15.131,15.209,NaN,696.466,NaN
47341,47341,I,74.53,material_7,material_5,9,5,4,8,7,...,10.980,16.027,15.694,13.564,15.494,15.296,13.812,16.501,613.249,NaN
47342,47342,I,67.73,material_7,material_5,9,5,10,11,2,...,10.436,16.137,20.612,11.134,16.519,15.525,14.175,17.728,783.349,NaN
47343,47343,I,126.15,material_7,material_5,9,5,8,16,11,...,12.672,15.422,19.496,9.319,15.817,17.403,16.437,15.179,745.210,NaN
47344,47344,I,85.97,material_7,material_5,9,5,0,11,11,...,9.977,17.270,17.924,13.726,14.605,17.460,16.261,16.482,647.980,NaN

In [4]:
data.columns

Index(['id', 'product_code', 'loading', 'attribute_0', 'attribute_1',
       'attribute_2', 'attribute_3', 'measurement_0', 'measurement_1',
       'measurement_2', 'measurement_3', 'measurement_4', 'measurement_5',
       'measurement_6', 'measurement_7', 'measurement_8', 'measurement_9',
       'measurement_10', 'measurement_11', 'measurement_12', 'measurement_13',
       'measurement_14', 'measurement_15', 'measurement_16', 'measurement_17',
       'failure'],
      dtype='object')

In [5]:
data['attribute_01'] = data['attribute_0'] + data['attribute_1']
data.attribute_01.unique()

array(['material_7material_8', 'material_5material_5',
       'material_7material_5', 'material_7material_6',
       'material_5material_6', 'material_7material_7'], dtype=object)

In [6]:
data['material_7material_8'] = 0
data['material_5material_5'] = 0
data['material_7material_5'] = 0
data['material_7material_6'] = 0
data['material_5material_6'] = 0
data['material_7material_7'] = 0

In [7]:
for i in range(len(data)):
    if data.loc[i, 'attribute_01'] == 'material_7material_8':
        data.loc[i, 'material_7material_8'] = 1
    elif data.loc[i, 'attribute_01'] == 'material_5material_5':
        data.loc[i, 'material_5material_5'] = 1
    elif data.loc[i, 'attribute_01'] == 'material_7material_5':
        data.loc[i, 'material_7material_5'] = 1
    elif data.loc[i, 'attribute_01'] == 'material_7material_6':
        data.loc[i, 'material_7material_6'] = 1
    elif data.loc[i, 'attribute_01'] == 'material_5material_6':
        data.loc[i, 'material_5material_6'] = 1
    elif data.loc[i, 'attribute_01'] == 'material_7material_7':
        data.loc[i, 'material_7material_7'] = 1

data

,id,product_code,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,...,measurement_16,measurement_17,failure,attribute_01,material_7material_8,material_5material_5,material_7material_5,material_7material_6,material_5material_6,material_7material_7
0,0,A,80.10,material_7,material_8,9,5,7,8,4,...,14.684,764.100,0.0,material_7material_8,1,0,0,0,0,0
1,1,A,84.89,material_7,material_8,9,5,14,3,3,...,15.631,682.057,0.0,material_7material_8,1,0,0,0,0,0
2,2,A,82.43,material_7,material_8,9,5,12,1,5,...,17.946,663.376,0.0,material_7material_8,1,0,0,0,0,0
3,3,A,101.07,material_7,material_8,9,5,13,2,6,...,17.172,826.282,0.0,material_7material_8,1,0,0,0,0,0
4,4,A,188.06,material_7,material_8,9,5,9,2,8,...,16.412,579.885,0.0,material_7material_8,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47340,47340,I,144.74,material_7,material_5,9,5,0,4,9,...,NaN,696.466,NaN,material_7material_5,0,0,1,0,0,0
47341,47341,I,74.53,material_7,material_5,9,5,4,8,7,...,16.501,613.249,NaN,material_7material_5,0,0,1,0,0,0
47342,47342,I,67.73,material_7,material_5,9,5,10,11,2,...,17.728,783.349,NaN,material_7material_5,0,0,1,0,0,0
47343,47343,I,126.15,material_7,material_5,9,5,8,16,11,...,15.179,745.210,NaN,material_7material_5,0,0,1,0,0,0
47344,47344,I,85.97,material_7,material_5,9,5,0,11,11,...,16.482,647.980,NaN,material_7material_5,0,0,1,0,0,0

In [8]:
data.drop(columns = ['id', 'product_code', 'attribute_01', 'attribute_0', 'attribute_1'], inplace = True)
data

,loading,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,measurement_3,measurement_4,measurement_5,measurement_6,...,measurement_15,measurement_16,measurement_17,failure,material_7material_8,material_5material_5,material_7material_5,material_7material_6,material_5material_6,material_7material_7
0,80.10,9,5,7,8,4,18.040,12.518,15.748,19.292,...,13.034,14.684,764.100,0.0,1,0,0,0,0,0
1,84.89,9,5,14,3,3,18.213,11.540,17.717,17.893,...,14.395,15.631,682.057,0.0,1,0,0,0,0,0
2,82.43,9,5,12,1,5,18.057,11.652,16.738,18.240,...,14.094,17.946,663.376,0.0,1,0,0,0,0,0
3,101.07,9,5,13,2,6,17.295,11.188,18.576,18.339,...,16.154,17.172,826.282,0.0,1,0,0,0,0,0
4,188.06,9,5,9,2,8,19.346,12.950,16.990,15.746,...,13.153,16.412,579.885,0.0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47340,144.74,9,5,0,4,9,18.465,12.570,18.146,17.089,...,15.209,NaN,696.466,NaN,0,0,1,0,0,0
47341,74.53,9,5,4,8,7,18.900,9.896,18.288,NaN,...,13.812,16.501,613.249,NaN,0,0,1,0,0,0
47342,67.73,9,5,10,11,2,18.656,NaN,18.242,17.910,...,14.175,17.728,783.349,NaN,0,0,1,0,0,0
47343,126.15,9,5,8,16,11,16.536,11.226,18.144,17.250,...,16.437,15.179,745.210,NaN,0,0,1,0,0,0
47344,85.97,9,5,0,11,11,18.373,11.210,17.030,18.406,...,16.261,16.482,647.980,NaN,0,0,1,0,0,0

In [9]:
len(rawtrain) + len(rawtest) - len(data)

0

In [10]:
train = data[:len(rawtrain)]
test = data[len(rawtrain):]

In [11]:
test = test.drop(columns = ['failure'])
test

,loading,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,measurement_3,measurement_4,measurement_5,measurement_6,...,measurement_14,measurement_15,measurement_16,measurement_17,material_7material_8,material_5material_5,material_7material_5,material_7material_6,material_5material_6,material_7material_7
26570,119.57,6,4,6,9,6,19.305,10.178,17.534,18.168,...,16.825,13.742,17.710,634.612,0,0,0,0,1,0
26571,113.51,6,4,11,8,0,17.883,11.927,17.228,16.033,...,16.708,14.776,14.102,537.037,0,0,0,0,1,0
26572,112.16,6,4,8,12,4,18.475,10.481,16.619,18.189,...,15.737,17.065,16.021,658.995,0,0,0,0,1,0
26573,112.72,6,4,8,11,10,16.518,10.888,15.293,18.592,...,15.667,12.620,16.111,594.301,0,0,0,0,1,0
26574,208.00,6,4,14,16,8,17.808,12.693,17.678,15.814,...,16.183,13.324,17.150,801.044,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47340,144.74,9,5,0,4,9,18.465,12.570,18.146,17.089,...,15.131,15.209,NaN,696.466,0,0,1,0,0,0
47341,74.53,9,5,4,8,7,18.900,9.896,18.288,NaN,...,15.296,13.812,16.501,613.249,0,0,1,0,0,0
47342,67.73,9,5,10,11,2,18.656,NaN,18.242,17.910,...,15.525,14.175,17.728,783.349,0,0,1,0,0,0
47343,126.15,9,5,8,16,11,16.536,11.226,18.144,17.250,...,17.403,16.437,15.179,745.210,0,0,1,0,0,0
47344,85.97,9,5,0,11,11,18.373,11.210,17.030,18.406,...,17.460,16.261,16.482,647.980,0,0,1,0,0,0

In [12]:
train = train[['loading', 'attribute_2', 'attribute_3',
       'measurement_0', 'measurement_1', 'measurement_2', 'measurement_3',
       'measurement_4', 'measurement_5', 'measurement_6', 'measurement_7',
       'measurement_8', 'measurement_9', 'measurement_10', 'measurement_11',
       'measurement_12', 'measurement_13', 'measurement_14', 'measurement_15',
       'measurement_16', 'measurement_17', 'material_7material_8',
       'material_5material_5', 'material_7material_5', 'material_7material_6',
       'material_5material_6', 'material_7material_7', 'failure']]
train

,loading,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,measurement_3,measurement_4,measurement_5,measurement_6,...,measurement_15,measurement_16,measurement_17,material_7material_8,material_5material_5,material_7material_5,material_7material_6,material_5material_6,material_7material_7,failure
0,80.10,9,5,7,8,4,18.040,12.518,15.748,19.292,...,13.034,14.684,764.100,1,0,0,0,0,0,0.0
1,84.89,9,5,14,3,3,18.213,11.540,17.717,17.893,...,14.395,15.631,682.057,1,0,0,0,0,0,0.0
2,82.43,9,5,12,1,5,18.057,11.652,16.738,18.240,...,14.094,17.946,663.376,1,0,0,0,0,0,0.0
3,101.07,9,5,13,2,6,17.295,11.188,18.576,18.339,...,16.154,17.172,826.282,1,0,0,0,0,0,0.0
4,188.06,9,5,9,2,8,19.346,12.950,16.990,15.746,...,13.153,16.412,579.885,1,0,0,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26565,158.95,6,9,6,16,4,16.301,13.259,18.068,15.505,...,16.144,NaN,729.131,0,0,0,1,0,0,0.0
26566,146.02,6,9,10,12,8,17.543,NaN,17.984,19.078,...,13.146,16.471,853.924,0,0,0,1,0,0,0.0
26567,115.62,6,9,1,10,1,15.670,11.535,16.778,18.385,...,15.590,14.065,750.364,0,0,0,1,0,0,0.0
26568,106.38,6,9,2,9,4,18.059,NaN,16.918,18.101,...,13.624,12.865,730.156,0,0,0,1,0,0,0.0
26569,131.20,6,9,6,19,1,18.034,11.431,16.918,17.129,...,16.527,17.890,602.354,0,0,0,1,0,0,0.0

## thresh = 26으로 dropna 하기

In [13]:
(len(train) -len(train.dropna(thresh = 26)))/len(train)

0.03884079789235981

In [14]:
train = train.dropna(thresh = 26)

In [15]:
train.isnull().sum()

loading                  199
attribute_2                0
attribute_3                0
measurement_0              0
measurement_1              0
measurement_2              0
measurement_3            309
measurement_4            433
measurement_5            549
measurement_6            657
measurement_7            761
measurement_8            876
measurement_9           1049
measurement_10          1093
measurement_11          1241
measurement_12          1359
measurement_13          1518
measurement_14          1556
measurement_15          1692
measurement_16          1794
measurement_17          1944
material_7material_8       0
material_5material_5       0
material_7material_5       0
material_7material_6       0
material_5material_6       0
material_7material_7       0
failure                    0
dtype: int64

In [16]:
# loading에 대한 결측값은 삭제하도록 하자

train.dropna(subset = 'loading', inplace = True)
train.isnull().sum()

C:\Users\HYOUNG~1\AppData\Local\Temp/ipykernel_2688/1778119949.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train.dropna(subset = 'loading', inplace = True)

loading                    0
attribute_2                0
attribute_3                0
measurement_0              0
measurement_1              0
measurement_2              0
measurement_3            309
measurement_4            431
measurement_5            545
measurement_6            651
measurement_7            757
measurement_8            870
measurement_9           1043
measurement_10          1090
measurement_11          1228
measurement_12          1352
measurement_13          1509
measurement_14          1548
measurement_15          1679
measurement_16          1787
measurement_17          1933
material_7material_8       0
material_5material_5       0
material_7material_5       0
material_7material_6       0
material_5material_6       0
material_7material_7       0
failure                    0
dtype: int64

In [17]:
from sklearn.impute import KNNImputer

imputer = KNNImputer(n_neighbors=2)

In [18]:
train = train.reset_index()

In [19]:
train = train.drop(columns = ['index'])
train

,loading,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,measurement_3,measurement_4,measurement_5,measurement_6,...,measurement_15,measurement_16,measurement_17,material_7material_8,material_5material_5,material_7material_5,material_7material_6,material_5material_6,material_7material_7,failure
0,80.10,9,5,7,8,4,18.040,12.518,15.748,19.292,...,13.034,14.684,764.100,1,0,0,0,0,0,0.0
1,84.89,9,5,14,3,3,18.213,11.540,17.717,17.893,...,14.395,15.631,682.057,1,0,0,0,0,0,0.0
2,82.43,9,5,12,1,5,18.057,11.652,16.738,18.240,...,14.094,17.946,663.376,1,0,0,0,0,0,0.0
3,101.07,9,5,13,2,6,17.295,11.188,18.576,18.339,...,16.154,17.172,826.282,1,0,0,0,0,0,0.0
4,188.06,9,5,9,2,8,19.346,12.950,16.990,15.746,...,13.153,16.412,579.885,1,0,0,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25334,158.95,6,9,6,16,4,16.301,13.259,18.068,15.505,...,16.144,NaN,729.131,0,0,0,1,0,0,0.0
25335,146.02,6,9,10,12,8,17.543,NaN,17.984,19.078,...,13.146,16.471,853.924,0,0,0,1,0,0,0.0
25336,115.62,6,9,1,10,1,15.670,11.535,16.778,18.385,...,15.590,14.065,750.364,0,0,0,1,0,0,0.0
25337,106.38,6,9,2,9,4,18.059,NaN,16.918,18.101,...,13.624,12.865,730.156,0,0,0,1,0,0,0.0
25338,131.20,6,9,6,19,1,18.034,11.431,16.918,17.129,...,16.527,17.890,602.354,0,0,0,1,0,0,0.0

In [20]:
train_measurement = train[['measurement_0',
       'measurement_1', 'measurement_2', 'measurement_3', 'measurement_4',
       'measurement_5', 'measurement_6', 'measurement_7', 'measurement_8',
       'measurement_9', 'measurement_10', 'measurement_11', 'measurement_12',
       'measurement_13', 'measurement_14', 'measurement_15', 'measurement_16',
       'measurement_17']]
train_measurement = train_measurement.reset_index()
train_measurement.drop(columns = ['index'], inplace = True)
train_measurement

,measurement_0,measurement_1,measurement_2,measurement_3,measurement_4,measurement_5,measurement_6,measurement_7,measurement_8,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17
0,7,8,4,18.040,12.518,15.748,19.292,11.739,20.155,10.672,15.859,17.594,15.193,15.029,NaN,13.034,14.684,764.100
1,14,3,3,18.213,11.540,17.717,17.893,12.748,17.889,12.448,17.947,17.915,11.755,14.732,15.425,14.395,15.631,682.057
2,12,1,5,18.057,11.652,16.738,18.240,12.718,18.288,12.715,15.607,NaN,13.798,16.711,18.631,14.094,17.946,663.376
3,13,2,6,17.295,11.188,18.576,18.339,12.583,19.060,12.471,16.346,18.377,10.020,15.250,15.562,16.154,17.172,826.282
4,9,2,8,19.346,12.950,16.990,15.746,11.306,18.093,10.337,17.082,19.932,12.428,16.182,12.760,13.153,16.412,579.885
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25334,6,16,4,16.301,13.259,18.068,15.505,10.865,19.354,NaN,12.177,17.942,10.112,15.795,18.572,16.144,NaN,729.131
25335,10,12,8,17.543,NaN,17.984,19.078,11.139,19.563,11.242,14.179,20.564,10.234,14.450,14.322,13.146,16.471,853.924
25336,1,10,1,15.670,11.535,16.778,18.385,11.630,19.279,11.407,16.437,17.476,8.668,15.069,16.599,15.590,14.065,750.364
25337,2,9,4,18.059,NaN,16.918,18.101,11.713,19.358,11.392,17.064,17.814,14.928,16.273,15.485,13.624,12.865,730.156
25338,6,19,1,18.034,11.431,16.918,17.129,12.713,18.731,10.611,15.603,19.703,11.006,15.875,13.366,16.527,17.890,602.354

In [21]:
y = train.failure

In [22]:
imputed = imputer.fit_transform(train_measurement)

In [23]:
imputed = pd.DataFrame(imputed, columns = train_measurement.columns)
imputed

,measurement_0,measurement_1,measurement_2,measurement_3,measurement_4,measurement_5,measurement_6,measurement_7,measurement_8,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17
0,7.0,8.0,4.0,18.040,12.518,15.748,19.292,11.739,20.155,10.6720,15.859,17.5940,15.193,15.029,17.9985,13.034,14.6840,764.100
1,14.0,3.0,3.0,18.213,11.540,17.717,17.893,12.748,17.889,12.4480,17.947,17.9150,11.755,14.732,15.4250,14.395,15.6310,682.057
2,12.0,1.0,5.0,18.057,11.652,16.738,18.240,12.718,18.288,12.7150,15.607,20.6745,13.798,16.711,18.6310,14.094,17.9460,663.376
3,13.0,2.0,6.0,17.295,11.188,18.576,18.339,12.583,19.060,12.4710,16.346,18.3770,10.020,15.250,15.5620,16.154,17.1720,826.282
4,9.0,2.0,8.0,19.346,12.950,16.990,15.746,11.306,18.093,10.3370,17.082,19.9320,12.428,16.182,12.7600,13.153,16.4120,579.885
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25334,6.0,16.0,4.0,16.301,13.259,18.068,15.505,10.865,19.354,11.0055,12.177,17.9420,10.112,15.795,18.5720,16.144,16.3615,729.131
25335,10.0,12.0,8.0,17.543,12.900,17.984,19.078,11.139,19.563,11.2420,14.179,20.5640,10.234,14.450,14.3220,13.146,16.4710,853.924
25336,1.0,10.0,1.0,15.670,11.535,16.778,18.385,11.630,19.279,11.4070,16.437,17.4760,8.668,15.069,16.5990,15.590,14.0650,750.364
25337,2.0,9.0,4.0,18.059,11.676,16.918,18.101,11.713,19.358,11.3920,17.064,17.8140,14.928,16.273,15.4850,13.624,12.8650,730.156
25338,6.0,19.0,1.0,18.034,11.431,16.918,17.129,12.713,18.731,10.6110,15.603,19.7030,11.006,15.875,13.3660,16.527,17.8900,602.354

In [24]:
train.drop(columns = ['measurement_0',
       'measurement_1', 'measurement_2', 'measurement_3', 'measurement_4',
       'measurement_5', 'measurement_6', 'measurement_7', 'measurement_8',
       'measurement_9', 'measurement_10', 'measurement_11', 'measurement_12',
       'measurement_13', 'measurement_14', 'measurement_15', 'measurement_16',
       'measurement_17'], inplace = True)
train

,loading,attribute_2,attribute_3,material_7material_8,material_5material_5,material_7material_5,material_7material_6,material_5material_6,material_7material_7,failure
0,80.10,9,5,1,0,0,0,0,0,0.0
1,84.89,9,5,1,0,0,0,0,0,0.0
2,82.43,9,5,1,0,0,0,0,0,0.0
3,101.07,9,5,1,0,0,0,0,0,0.0
4,188.06,9,5,1,0,0,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...
25334,158.95,6,9,0,0,0,1,0,0,0.0
25335,146.02,6,9,0,0,0,1,0,0,0.0
25336,115.62,6,9,0,0,0,1,0,0,0.0
25337,106.38,6,9,0,0,0,1,0,0,0.0
25338,131.20,6,9,0,0,0,1,0,0,0.0

In [25]:
X = pd.concat([train, imputed], axis = 1, ignore_index = True)
len(train) == len(imputed)

True

In [26]:
len(X) == len(train)

True

In [27]:
X.columns = list(train.columns) + list(train_measurement.columns)

In [28]:
X

,loading,attribute_2,attribute_3,material_7material_8,material_5material_5,material_7material_5,material_7material_6,material_5material_6,material_7material_7,failure,...,measurement_8,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17
0,80.10,9,5,1,0,0,0,0,0,0.0,...,20.155,10.6720,15.859,17.5940,15.193,15.029,17.9985,13.034,14.6840,764.100
1,84.89,9,5,1,0,0,0,0,0,0.0,...,17.889,12.4480,17.947,17.9150,11.755,14.732,15.4250,14.395,15.6310,682.057
2,82.43,9,5,1,0,0,0,0,0,0.0,...,18.288,12.7150,15.607,20.6745,13.798,16.711,18.6310,14.094,17.9460,663.376
3,101.07,9,5,1,0,0,0,0,0,0.0,...,19.060,12.4710,16.346,18.3770,10.020,15.250,15.5620,16.154,17.1720,826.282
4,188.06,9,5,1,0,0,0,0,0,0.0,...,18.093,10.3370,17.082,19.9320,12.428,16.182,12.7600,13.153,16.4120,579.885
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25334,158.95,6,9,0,0,0,1,0,0,0.0,...,19.354,11.0055,12.177,17.9420,10.112,15.795,18.5720,16.144,16.3615,729.131
25335,146.02,6,9,0,0,0,1,0,0,0.0,...,19.563,11.2420,14.179,20.5640,10.234,14.450,14.3220,13.146,16.4710,853.924
25336,115.62,6,9,0,0,0,1,0,0,0.0,...,19.279,11.4070,16.437,17.4760,8.668,15.069,16.5990,15.590,14.0650,750.364
25337,106.38,6,9,0,0,0,1,0,0,0.0,...,19.358,11.3920,17.064,17.8140,14.928,16.273,15.4850,13.624,12.8650,730.156
25338,131.20,6,9,0,0,0,1,0,0,0.0,...,18.731,10.6110,15.603,19.7030,11.006,15.875,13.3660,16.527,17.8900,602.354

In [29]:
X.drop(columns = ['failure'], inplace = True)

In [30]:
X

,loading,attribute_2,attribute_3,material_7material_8,material_5material_5,material_7material_5,material_7material_6,material_5material_6,material_7material_7,measurement_0,...,measurement_8,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17
0,80.10,9,5,1,0,0,0,0,0,7.0,...,20.155,10.6720,15.859,17.5940,15.193,15.029,17.9985,13.034,14.6840,764.100
1,84.89,9,5,1,0,0,0,0,0,14.0,...,17.889,12.4480,17.947,17.9150,11.755,14.732,15.4250,14.395,15.6310,682.057
2,82.43,9,5,1,0,0,0,0,0,12.0,...,18.288,12.7150,15.607,20.6745,13.798,16.711,18.6310,14.094,17.9460,663.376
3,101.07,9,5,1,0,0,0,0,0,13.0,...,19.060,12.4710,16.346,18.3770,10.020,15.250,15.5620,16.154,17.1720,826.282
4,188.06,9,5,1,0,0,0,0,0,9.0,...,18.093,10.3370,17.082,19.9320,12.428,16.182,12.7600,13.153,16.4120,579.885
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25334,158.95,6,9,0,0,0,1,0,0,6.0,...,19.354,11.0055,12.177,17.9420,10.112,15.795,18.5720,16.144,16.3615,729.131
25335,146.02,6,9,0,0,0,1,0,0,10.0,...,19.563,11.2420,14.179,20.5640,10.234,14.450,14.3220,13.146,16.4710,853.924
25336,115.62,6,9,0,0,0,1,0,0,1.0,...,19.279,11.4070,16.437,17.4760,8.668,15.069,16.5990,15.590,14.0650,750.364
25337,106.38,6,9,0,0,0,1,0,0,2.0,...,19.358,11.3920,17.064,17.8140,14.928,16.273,15.4850,13.624,12.8650,730.156
25338,131.20,6,9,0,0,0,1,0,0,6.0,...,18.731,10.6110,15.603,19.7030,11.006,15.875,13.3660,16.527,17.8900,602.354

In [31]:
test_measurement = test[['measurement_0',
       'measurement_1', 'measurement_2', 'measurement_3', 'measurement_4',
       'measurement_5', 'measurement_6', 'measurement_7', 'measurement_8',
       'measurement_9', 'measurement_10', 'measurement_11', 'measurement_12',
       'measurement_13', 'measurement_14', 'measurement_15', 'measurement_16',
       'measurement_17']]
test_measurement

,measurement_0,measurement_1,measurement_2,measurement_3,measurement_4,measurement_5,measurement_6,measurement_7,measurement_8,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17
26570,6,9,6,19.305,10.178,17.534,18.168,11.598,18.654,10.802,15.909,18.070,13.772,13.659,16.825,13.742,17.710,634.612
26571,11,8,0,17.883,11.927,17.228,16.033,11.179,19.368,12.032,13.998,NaN,12.473,17.468,16.708,14.776,14.102,537.037
26572,8,12,4,18.475,10.481,16.619,18.189,12.126,17.774,11.743,17.046,18.086,10.907,13.363,15.737,17.065,16.021,658.995
26573,8,11,10,16.518,10.888,15.293,18.592,11.304,18.948,11.790,18.165,16.163,10.933,15.501,15.667,12.620,16.111,594.301
26574,14,16,8,17.808,12.693,17.678,15.814,13.431,19.141,12.370,14.578,17.849,11.941,16.070,16.183,13.324,17.150,801.044
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47340,0,4,9,18.465,12.570,18.146,17.089,11.204,18.573,11.691,NaN,19.771,11.562,17.246,15.131,15.209,NaN,696.466
47341,4,8,7,18.900,9.896,18.288,NaN,11.747,17.917,10.980,16.027,15.694,13.564,15.494,15.296,13.812,16.501,613.249
47342,10,11,2,18.656,NaN,18.242,17.910,12.081,19.630,10.436,16.137,20.612,11.134,16.519,15.525,14.175,17.728,783.349
47343,8,16,11,16.536,11.226,18.144,17.250,12.692,19.575,12.672,15.422,19.496,9.319,15.817,17.403,16.437,15.179,745.210
47344,0,11,11,18.373,11.210,17.030,18.406,10.181,19.253,9.977,17.270,17.924,13.726,14.605,17.460,16.261,16.482,647.980

In [32]:
imputed = imputer.transform(test_measurement)
imputed = pd.DataFrame(imputed, columns = test_measurement.columns)

In [33]:
imputed

,measurement_0,measurement_1,measurement_2,measurement_3,measurement_4,measurement_5,measurement_6,measurement_7,measurement_8,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17
0,6.0,9.0,6.0,19.305,10.1780,17.534,18.1680,11.598,18.654,10.802,15.9090,18.070,13.772,13.659,16.825,13.742,17.710,634.612
1,11.0,8.0,0.0,17.883,11.9270,17.228,16.0330,11.179,19.368,12.032,13.9980,17.030,12.473,17.468,16.708,14.776,14.102,537.037
2,8.0,12.0,4.0,18.475,10.4810,16.619,18.1890,12.126,17.774,11.743,17.0460,18.086,10.907,13.363,15.737,17.065,16.021,658.995
3,8.0,11.0,10.0,16.518,10.8880,15.293,18.5920,11.304,18.948,11.790,18.1650,16.163,10.933,15.501,15.667,12.620,16.111,594.301
4,14.0,16.0,8.0,17.808,12.6930,17.678,15.8140,13.431,19.141,12.370,14.5780,17.849,11.941,16.070,16.183,13.324,17.150,801.044
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20770,0.0,4.0,9.0,18.465,12.5700,18.146,17.0890,11.204,18.573,11.691,14.7005,19.771,11.562,17.246,15.131,15.209,16.994,696.466
20771,4.0,8.0,7.0,18.900,9.8960,18.288,17.7215,11.747,17.917,10.980,16.0270,15.694,13.564,15.494,15.296,13.812,16.501,613.249
20772,10.0,11.0,2.0,18.656,10.9815,18.242,17.9100,12.081,19.630,10.436,16.1370,20.612,11.134,16.519,15.525,14.175,17.728,783.349
20773,8.0,16.0,11.0,16.536,11.2260,18.144,17.2500,12.692,19.575,12.672,15.4220,19.496,9.319,15.817,17.403,16.437,15.179,745.210
20774,0.0,11.0,11.0,18.373,11.2100,17.030,18.4060,10.181,19.253,9.977,17.2700,17.924,13.726,14.605,17.460,16.261,16.482,647.980

In [34]:
imputed.isnull().sum()

measurement_0     0
measurement_1     0
measurement_2     0
measurement_3     0
measurement_4     0
measurement_5     0
measurement_6     0
measurement_7     0
measurement_8     0
measurement_9     0
measurement_10    0
measurement_11    0
measurement_12    0
measurement_13    0
measurement_14    0
measurement_15    0
measurement_16    0
measurement_17    0
dtype: int64

In [35]:
test

,loading,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,measurement_3,measurement_4,measurement_5,measurement_6,...,measurement_14,measurement_15,measurement_16,measurement_17,material_7material_8,material_5material_5,material_7material_5,material_7material_6,material_5material_6,material_7material_7
26570,119.57,6,4,6,9,6,19.305,10.178,17.534,18.168,...,16.825,13.742,17.710,634.612,0,0,0,0,1,0
26571,113.51,6,4,11,8,0,17.883,11.927,17.228,16.033,...,16.708,14.776,14.102,537.037,0,0,0,0,1,0
26572,112.16,6,4,8,12,4,18.475,10.481,16.619,18.189,...,15.737,17.065,16.021,658.995,0,0,0,0,1,0
26573,112.72,6,4,8,11,10,16.518,10.888,15.293,18.592,...,15.667,12.620,16.111,594.301,0,0,0,0,1,0
26574,208.00,6,4,14,16,8,17.808,12.693,17.678,15.814,...,16.183,13.324,17.150,801.044,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47340,144.74,9,5,0,4,9,18.465,12.570,18.146,17.089,...,15.131,15.209,NaN,696.466,0,0,1,0,0,0
47341,74.53,9,5,4,8,7,18.900,9.896,18.288,NaN,...,15.296,13.812,16.501,613.249,0,0,1,0,0,0
47342,67.73,9,5,10,11,2,18.656,NaN,18.242,17.910,...,15.525,14.175,17.728,783.349,0,0,1,0,0,0
47343,126.15,9,5,8,16,11,16.536,11.226,18.144,17.250,...,17.403,16.437,15.179,745.210,0,0,1,0,0,0
47344,85.97,9,5,0,11,11,18.373,11.210,17.030,18.406,...,17.460,16.261,16.482,647.980,0,0,1,0,0,0

In [36]:
test.drop(columns = test_measurement.columns, inplace = True)

In [37]:
test.isnull().sum()

loading                 223
attribute_2               0
attribute_3               0
material_7material_8      0
material_5material_5      0
material_7material_5      0
material_7material_6      0
material_5material_6      0
material_7material_7      0
dtype: int64

In [38]:
test.loading.fillna(value = train.loading.mean(), inplace = True)
test

,loading,attribute_2,attribute_3,material_7material_8,material_5material_5,material_7material_5,material_7material_6,material_5material_6,material_7material_7
26570,119.57,6,4,0,0,0,0,1,0
26571,113.51,6,4,0,0,0,0,1,0
26572,112.16,6,4,0,0,0,0,1,0
26573,112.72,6,4,0,0,0,0,1,0
26574,208.00,6,4,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...
47340,144.74,9,5,0,0,1,0,0,0
47341,74.53,9,5,0,0,1,0,0,0
47342,67.73,9,5,0,0,1,0,0,0
47343,126.15,9,5,0,0,1,0,0,0
47344,85.97,9,5,0,0,1,0,0,0

In [39]:
test.isnull().sum()

loading                 0
attribute_2             0
attribute_3             0
material_7material_8    0
material_5material_5    0
material_7material_5    0
material_7material_6    0
material_5material_6    0
material_7material_7    0
dtype: int64

In [40]:
test = pd.concat([test, imputed], axis = 1, ignore_index = True)
len(test) == len(test_measurement)

True

In [41]:
test

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
26570,119.57,6,4,0,0,0,0,1,0,6,...,18.654,10.802,15.909,18.070,13.772,13.659,16.825,13.742,17.710,634.612
26571,113.51,6,4,0,0,0,0,1,0,11,...,19.368,12.032,13.998,NaN,12.473,17.468,16.708,14.776,14.102,537.037
26572,112.16,6,4,0,0,0,0,1,0,8,...,17.774,11.743,17.046,18.086,10.907,13.363,15.737,17.065,16.021,658.995
26573,112.72,6,4,0,0,0,0,1,0,8,...,18.948,11.790,18.165,16.163,10.933,15.501,15.667,12.620,16.111,594.301
26574,208.00,6,4,0,0,0,0,1,0,14,...,19.141,12.370,14.578,17.849,11.941,16.070,16.183,13.324,17.150,801.044
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47340,144.74,9,5,0,0,1,0,0,0,0,...,18.573,11.691,NaN,19.771,11.562,17.246,15.131,15.209,NaN,696.466
47341,74.53,9,5,0,0,1,0,0,0,4,...,17.917,10.980,16.027,15.694,13.564,15.494,15.296,13.812,16.501,613.249
47342,67.73,9,5,0,0,1,0,0,0,10,...,19.630,10.436,16.137,20.612,11.134,16.519,15.525,14.175,17.728,783.349
47343,126.15,9,5,0,0,1,0,0,0,8,...,19.575,12.672,15.422,19.496,9.319,15.817,17.403,16.437,15.179,745.210
47344,85.97,9,5,0,0,1,0,0,0,0,...,19.253,9.977,17.270,17.924,13.726,14.605,17.460,16.261,16.482,647.980

In [42]:
X

,loading,attribute_2,attribute_3,material_7material_8,material_5material_5,material_7material_5,material_7material_6,material_5material_6,material_7material_7,measurement_0,...,measurement_8,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17
0,80.10,9,5,1,0,0,0,0,0,7.0,...,20.155,10.6720,15.859,17.5940,15.193,15.029,17.9985,13.034,14.6840,764.100
1,84.89,9,5,1,0,0,0,0,0,14.0,...,17.889,12.4480,17.947,17.9150,11.755,14.732,15.4250,14.395,15.6310,682.057
2,82.43,9,5,1,0,0,0,0,0,12.0,...,18.288,12.7150,15.607,20.6745,13.798,16.711,18.6310,14.094,17.9460,663.376
3,101.07,9,5,1,0,0,0,0,0,13.0,...,19.060,12.4710,16.346,18.3770,10.020,15.250,15.5620,16.154,17.1720,826.282
4,188.06,9,5,1,0,0,0,0,0,9.0,...,18.093,10.3370,17.082,19.9320,12.428,16.182,12.7600,13.153,16.4120,579.885
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25334,158.95,6,9,0,0,0,1,0,0,6.0,...,19.354,11.0055,12.177,17.9420,10.112,15.795,18.5720,16.144,16.3615,729.131
25335,146.02,6,9,0,0,0,1,0,0,10.0,...,19.563,11.2420,14.179,20.5640,10.234,14.450,14.3220,13.146,16.4710,853.924
25336,115.62,6,9,0,0,0,1,0,0,1.0,...,19.279,11.4070,16.437,17.4760,8.668,15.069,16.5990,15.590,14.0650,750.364
25337,106.38,6,9,0,0,0,1,0,0,2.0,...,19.358,11.3920,17.064,17.8140,14.928,16.273,15.4850,13.624,12.8650,730.156
25338,131.20,6,9,0,0,0,1,0,0,6.0,...,18.731,10.6110,15.603,19.7030,11.006,15.875,13.3660,16.527,17.8900,602.354

In [43]:
test.columns = X.columns
test

,loading,attribute_2,attribute_3,material_7material_8,material_5material_5,material_7material_5,material_7material_6,material_5material_6,material_7material_7,measurement_0,...,measurement_8,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17
26570,119.57,6,4,0,0,0,0,1,0,6,...,18.654,10.802,15.909,18.070,13.772,13.659,16.825,13.742,17.710,634.612
26571,113.51,6,4,0,0,0,0,1,0,11,...,19.368,12.032,13.998,NaN,12.473,17.468,16.708,14.776,14.102,537.037
26572,112.16,6,4,0,0,0,0,1,0,8,...,17.774,11.743,17.046,18.086,10.907,13.363,15.737,17.065,16.021,658.995
26573,112.72,6,4,0,0,0,0,1,0,8,...,18.948,11.790,18.165,16.163,10.933,15.501,15.667,12.620,16.111,594.301
26574,208.00,6,4,0,0,0,0,1,0,14,...,19.141,12.370,14.578,17.849,11.941,16.070,16.183,13.324,17.150,801.044
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47340,144.74,9,5,0,0,1,0,0,0,0,...,18.573,11.691,NaN,19.771,11.562,17.246,15.131,15.209,NaN,696.466
47341,74.53,9,5,0,0,1,0,0,0,4,...,17.917,10.980,16.027,15.694,13.564,15.494,15.296,13.812,16.501,613.249
47342,67.73,9,5,0,0,1,0,0,0,10,...,19.630,10.436,16.137,20.612,11.134,16.519,15.525,14.175,17.728,783.349
47343,126.15,9,5,0,0,1,0,0,0,8,...,19.575,12.672,15.422,19.496,9.319,15.817,17.403,16.437,15.179,745.210
47344,85.97,9,5,0,0,1,0,0,0,0,...,19.253,9.977,17.270,17.924,13.726,14.605,17.460,16.261,16.482,647.980

In [44]:
import numpy as np
import pandas as pd
import seaborn as sns
sns.set(style='darkgrid', font_scale=1.4)
import matplotlib.pyplot as plt
%matplotlib inline

from itertools import combinations
import math
import statistics

from scipy import stats
from scipy.stats import pearsonr
from scipy.stats import chi2
from scipy.stats import poisson

import time

from datetime import datetime
import matplotlib.dates as mdates
import plotly.express as px
import lightgbm as lgbm
from termcolor import colored
import itertools
import warnings
warnings.filterwarnings("ignore")

import sklearn
from sklearn.decomposition import PCA
from sklearn.manifold import TSNE
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA
from sklearn.cluster import KMeans
from sklearn.model_selection import train_test_split, StratifiedKFold, GridSearchCV, TimeSeriesSplit, GroupKFold, cross_validate
from sklearn.preprocessing import StandardScaler, RobustScaler, PowerTransformer, OneHotEncoder, LabelEncoder
from sklearn.impute import SimpleImputer, KNNImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.pipeline import make_pipeline
from sklearn.compose import make_column_transformer
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay, accuracy_score, roc_auc_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LinearRegression, Ridge
from sklearn.mixture import GaussianMixture, BayesianGaussianMixture

# UMAP
import umap
# import umap.plot

# Models
from sklearn.linear_model import LinearRegression, LogisticRegression, Lasso, Ridge
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier, XGBRegressor
from lightgbm import early_stopping
from lightgbm import LGBMClassifier, LGBMRegressor

from catboost import CatBoostClassifier
from sklearn.naive_bayes import GaussianNB

from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from lightgbm.sklearn import LGBMClassifier
from lightgbm.sklearn import LGBMRegressor

# 상관관계 분석, VIF : 다중공선성 제거
from statsmodels.stats.outliers_influence import variance_inflation_factor

# KFold(CV), partial : optuna를 사용하기 위함
from sklearn.model_selection import KFold
from functools import partial

# hyper-parameter tuning을 위한 라이브러리, optuna
import optuna

# sklearn에서 배웠던 분류 모델들을 불러와봅니다.
from sklearn.linear_model import SGDClassifier      # 1. Linear Classifier
from sklearn.linear_model import LogisticRegression # 2. Logistic Regression
from sklearn.tree import DecisionTreeClassifier     # 3. Decision Tree
from sklearn.ensemble import RandomForestClassifier # 4. Random Forest

# 평가 지표
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score

In [45]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [46]:
clf = SGDClassifier()
clf2 = LogisticRegression()
clf3 = DecisionTreeClassifier()
clf4 = RandomForestClassifier()
clf5 = LinearRegression()
clf6 = Lasso()
clf7 = Ridge()
clf8 = XGBClassifier()
clf9 = XGBRegressor()
clf10 = LGBMClassifier()
clf11 = LGBMRegressor()

clf.fit(X_train, y_train)
clf2.fit(X_train, y_train)
clf3.fit(X_train, y_train)
clf4.fit(X_train, y_train)
clf5.fit(X_train, y_train)
clf6.fit(X_train, y_train)
clf7.fit(X_train, y_train)
clf8.fit(X_train, y_train)
clf9.fit(X_train, y_train)
clf10.fit(X_train, y_train)
clf11.fit(X_train, y_train)

pred = clf.predict(X_test)
pred2 = clf2.predict(X_test)
pred3 = clf3.predict(X_test)
pred4 = clf4.predict(X_test)
pred5 = clf5.predict(X_test)
pred6 = clf6.predict(X_test)
pred7 = clf7.predict(X_test)
pred8 = clf8.predict(X_test)
pred9 = clf9.predict(X_test)
pred10 = clf.predict(X_test)
pred11 = clf.predict(X_test)

[21:51:24] WARNING: C:\Windows\Temp\abs_557yfx631l\croots\recipe\xgboost-split_1659548953302\work\src\learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

In [47]:
print("1. SGDClassifier, Accuracy for training : %.4f" % roc_auc_score(y_test, pred))
print("2. LogisticRegression, Accuracy for training : %.4f" % roc_auc_score(y_test, pred2))
print("3. DecisionTreeClassifie, Accuracy for training : %.4f" % roc_auc_score(y_test, pred3))
print("4. RandomForestClassifier, Accuracy for training : %.4f" % roc_auc_score(y_test, pred4))
print("5. LinearRegression, Accuracy for training : %.4f" % roc_auc_score(y_test, pred5))
print("6. Lasso, Accuracy for training : %.4f" % roc_auc_score(y_test, pred6))
print("7. Ridge, Accuracy for training : %.4f" % roc_auc_score(y_test, pred7))
print("8. XGBClassifier, Accuracy for training : %.4f" % roc_auc_score(y_test, pred8))
print("9. XGBRegressor, Accuracy for training : %.4f" % roc_auc_score(y_test, pred9))

1. SGDClassifier, Accuracy for training : 0.5000
2. LogisticRegression, Accuracy for training : 0.5007
3. DecisionTreeClassifie, Accuracy for training : 0.5016
4. RandomForestClassifier, Accuracy for training : 0.4997
5. LinearRegression, Accuracy for training : 0.5876
6. Lasso, Accuracy for training : 0.5955
7. Ridge, Accuracy for training : 0.5876
8. XGBClassifier, Accuracy for training : 0.5043
9. XGBRegressor, Accuracy for training : 0.5487

In [48]:
best_pred = clf6.predict(test)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [49]:
test.isnull().sum()

loading                    0
attribute_2                0
attribute_3                0
material_7material_8       0
material_5material_5       0
material_7material_5       0
material_7material_6       0
material_5material_6       0
material_7material_7       0
measurement_0              0
measurement_1              0
measurement_2              0
measurement_3            329
measurement_4            409
measurement_5            508
measurement_6            624
measurement_7            720
measurement_8            846
measurement_9            904
measurement_10          1067
measurement_11          1136
measurement_12          1240
measurement_13          1303
measurement_14          1440
measurement_15          1542
measurement_16          1678
measurement_17          1740
dtype: int64