In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor

from sklearn.model_selection import train_test_split

In [2]:
import os
print(os.path)
print(os.getcwd())

<module 'ntpath' from 'C:\\Users\\sjhh4\\.conda\\envs\\ETA3.9\\lib\\ntpath.py'>
C:\Users\sjhh4\Desktop\python\FastCampus\Tabular_Playground_Series_Aug_2022

In [3]:
ls

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: EA5D-0EEA

 C:\Users\sjhh4\Desktop\python\FastCampus\Tabular_Playground_Series_Aug_2022 디렉터리

2022-08-10  오후 01:11    <DIR>          .
2022-08-10  오후 01:11    <DIR>          ..
2022-08-09  오후 12:44             1,928 .gitignore
2022-08-09  오후 01:20    <DIR>          .ipynb_checkpoints
2022-08-09  오후 01:20    <DIR>          data
2022-08-10  오후 01:11           144,389 EDAtrial.ipynb
2022-08-09  오후 12:44             1,090 LICENSE
2022-08-09  오후 12:44                92 README.md
2022-08-09  오후 01:19         2,379,850 tabular-playground-series-aug-2022.zip
               5개 파일           2,527,349 바이트
               4개 디렉터리  1,720,205,656,064 바이트 남음

In [4]:
train = pd.read_csv("./data/train.csv")

In [5]:
train

,id,product_code,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,...,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,failure
0,0,A,80.10,material_7,material_8,9,5,7,8,4,...,10.672,15.859,17.594,15.193,15.029,NaN,13.034,14.684,764.100,0
1,1,A,84.89,material_7,material_8,9,5,14,3,3,...,12.448,17.947,17.915,11.755,14.732,15.425,14.395,15.631,682.057,0
2,2,A,82.43,material_7,material_8,9,5,12,1,5,...,12.715,15.607,NaN,13.798,16.711,18.631,14.094,17.946,663.376,0
3,3,A,101.07,material_7,material_8,9,5,13,2,6,...,12.471,16.346,18.377,10.020,15.250,15.562,16.154,17.172,826.282,0
4,4,A,188.06,material_7,material_8,9,5,9,2,8,...,10.337,17.082,19.932,12.428,16.182,12.760,13.153,16.412,579.885,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26565,26565,E,158.95,material_7,material_6,6,9,6,16,4,...,NaN,12.177,17.942,10.112,15.795,18.572,16.144,NaN,729.131,0
26566,26566,E,146.02,material_7,material_6,6,9,10,12,8,...,11.242,14.179,20.564,10.234,14.450,14.322,13.146,16.471,853.924,0
26567,26567,E,115.62,material_7,material_6,6,9,1,10,1,...,11.407,16.437,17.476,8.668,15.069,16.599,15.590,14.065,750.364,0
26568,26568,E,106.38,material_7,material_6,6,9,2,9,4,...,11.392,17.064,17.814,14.928,16.273,15.485,13.624,12.865,730.156,0
26569,26569,E,131.20,material_7,material_6,6,9,6,19,1,...,10.611,15.603,19.703,11.006,15.875,13.366,16.527,17.890,602.354,0

In [6]:
train.describe()

,id,loading,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,measurement_3,measurement_4,measurement_5,...,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,failure
count,26570.000000,26320.000000,26570.000000,26570.000000,26570.000000,26570.000000,26570.000000,26189.000000,26032.000000,25894.000000,...,25343.000000,25270.000000,25102.000000,24969.000000,24796.000000,24696.000000,24561.000000,24460.000000,24286.000000,26570.000000
mean,13284.500000,127.826233,6.754046,7.240459,7.415883,8.232518,6.256568,17.791528,11.731988,17.127804,...,11.430725,16.117711,19.172085,11.702464,15.652904,16.048444,14.995554,16.460727,701.269059,0.212608
std,7670.242662,39.030020,1.471852,1.456493,4.116690,4.199401,3.309109,1.001200,0.996085,0.996414,...,0.999137,1.405978,1.520785,1.488838,1.155247,1.491923,1.549226,1.708935,123.304161,0.409160
min,0.000000,33.160000,5.000000,5.000000,0.000000,0.000000,0.000000,13.968000,8.008000,12.073000,...,7.537000,9.323000,12.461000,5.167000,10.890000,9.140000,9.104000,9.701000,196.787000,0.000000
25%,6642.250000,99.987500,6.000000,6.000000,4.000000,5.000000,4.000000,17.117000,11.051000,16.443000,...,10.757000,15.209000,18.170000,10.703000,14.890000,15.057000,13.957000,15.268000,618.961500,0.000000
50%,13284.500000,122.390000,6.000000,8.000000,7.000000,8.000000,6.000000,17.787000,11.733000,17.132000,...,11.430000,16.127000,19.211500,11.717000,15.628500,16.040000,14.969000,16.436000,701.024500,0.000000
75%,19926.750000,149.152500,8.000000,8.000000,10.000000,11.000000,8.000000,18.469000,12.410000,17.805000,...,12.102000,17.025000,20.207000,12.709000,16.374000,17.082000,16.018000,17.628000,784.090250,0.000000
max,26569.000000,385.860000,9.000000,9.000000,29.000000,29.000000,24.000000,21.499000,16.484000,21.425000,...,15.412000,22.479000,25.640000,17.663000,22.713000,22.303000,21.626000,24.094000,1312.794000,1.000000

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26570 entries, 0 to 26569
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              26570 non-null  int64
 1   product_code    26570 non-null  object
 2   loading         26320 non-null  float64
 3   attribute_0     26570 non-null  object
 4   attribute_1     26570 non-null  object
 5   attribute_2     26570 non-null  int64
 6   attribute_3     26570 non-null  int64
 7   measurement_0   26570 non-null  int64
 8   measurement_1   26570 non-null  int64
 9   measurement_2   26570 non-null  int64
 10  measurement_3   26189 non-null  float64
 11  measurement_4   26032 non-null  float64
 12  measurement_5   25894 non-null  float64
 13  measurement_6   25774 non-null  float64
 14  measurement_7   25633 non-null  float64
 15  measurement_8   25522 non-null  float64
 16  measurement_9   25343 non-null  float64
 17  measurement_10  25270 non-null  float64
 18  measurement_11  25102 non-null  float64
 19  measurement_12  24969 non-null  float64
 20  measurement_13  24796 non-null  float64
 21  measurement_14  24696 non-null  float64
 22  measurement_15  24561 non-null  float64
 23  measurement_16  24460 non-null  float64
 24  measurement_17  24286 non-null  float64
 25  failure         26570 non-null  int64
dtypes: float64(16), int64(7), object(3)
memory usage: 5.3+ MB

In [8]:
print("Length of product_code", len(train.product_code.unique()))
print("Length of attribute_0", len(train.attribute_0.unique()))
print("Length of attribute_1", len(train.attribute_1.unique()))

Length of product_code 5
Length of attribute_0 2
Length of attribute_1 3

In [9]:
train.product_code.unique()

array(['A', 'B', 'C', 'D', 'E'], dtype=object)

In [10]:
train.attribute_0.unique()

array(['material_7', 'material_5'], dtype=object)

In [11]:
train.attribute_1.unique()

array(['material_8', 'material_5', 'material_6'], dtype=object)

attribute 1과 2를 합쳐도 될라나? 1과 2의 조합은 2 * 3 = 6 가지의 경우의 수. 차라리 attribute_1_2라는 파라미터를 통해 1 ~ 6까지 부여하는 것도 괜찮은 방법일듯?

In [12]:
train.attribute_0.unique()

array(['material_7', 'material_5'], dtype=object)

In [13]:
train.isnull().sum()

id                   0
product_code         0
loading            250
attribute_0          0
attribute_1          0
attribute_2          0
attribute_3          0
measurement_0        0
measurement_1        0
measurement_2        0
measurement_3      381
measurement_4      538
measurement_5      676
measurement_6      796
measurement_7      937
measurement_8     1048
measurement_9     1227
measurement_10    1300
measurement_11    1468
measurement_12    1601
measurement_13    1774
measurement_14    1874
measurement_15    2009
measurement_16    2110
measurement_17    2284
failure              0
dtype: int64

In [14]:
display(train.dropna())
print(train.dropna().shape)

# 그냥 dropna를 하니까 거의 절반이 날아간다.
# 마냥 fillna를 해서 채워 넣을 수는 없을 듯 하다.

,id,product_code,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,...,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,failure
1,1,A,84.89,material_7,material_8,9,5,14,3,3,...,12.448,17.947,17.915,11.755,14.732,15.425,14.395,15.631,682.057,0
3,3,A,101.07,material_7,material_8,9,5,13,2,6,...,12.471,16.346,18.377,10.020,15.250,15.562,16.154,17.172,826.282,0
4,4,A,188.06,material_7,material_8,9,5,9,2,8,...,10.337,17.082,19.932,12.428,16.182,12.760,13.153,16.412,579.885,0
7,7,A,177.92,material_7,material_8,9,5,4,8,8,...,10.254,16.449,20.478,12.207,15.624,16.968,15.176,17.231,684.000,1
11,11,A,175.38,material_7,material_8,9,5,7,3,2,...,11.309,16.310,18.959,11.520,14.659,15.355,15.175,15.829,792.591,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26561,26561,E,133.51,material_7,material_6,6,9,3,14,4,...,13.634,15.566,19.990,12.946,14.043,15.635,14.202,14.693,665.973,0
26563,26563,E,106.69,material_7,material_6,6,9,1,10,15,...,10.305,17.066,18.045,11.984,15.544,13.994,15.687,15.347,686.584,0
26564,26564,E,124.77,material_7,material_6,6,9,3,12,7,...,11.945,15.738,19.723,12.989,16.084,14.616,15.394,16.510,536.149,0
26567,26567,E,115.62,material_7,material_6,6,9,1,10,1,...,11.407,16.437,17.476,8.668,15.069,16.599,15.590,14.065,750.364,0
26569,26569,E,131.20,material_7,material_6,6,9,6,19,1,...,10.611,15.603,19.703,11.006,15.875,13.366,16.527,17.890,602.354,0

(12183, 26)

In [15]:
train

,id,product_code,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,...,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,failure
0,0,A,80.10,material_7,material_8,9,5,7,8,4,...,10.672,15.859,17.594,15.193,15.029,NaN,13.034,14.684,764.100,0
1,1,A,84.89,material_7,material_8,9,5,14,3,3,...,12.448,17.947,17.915,11.755,14.732,15.425,14.395,15.631,682.057,0
2,2,A,82.43,material_7,material_8,9,5,12,1,5,...,12.715,15.607,NaN,13.798,16.711,18.631,14.094,17.946,663.376,0
3,3,A,101.07,material_7,material_8,9,5,13,2,6,...,12.471,16.346,18.377,10.020,15.250,15.562,16.154,17.172,826.282,0
4,4,A,188.06,material_7,material_8,9,5,9,2,8,...,10.337,17.082,19.932,12.428,16.182,12.760,13.153,16.412,579.885,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26565,26565,E,158.95,material_7,material_6,6,9,6,16,4,...,NaN,12.177,17.942,10.112,15.795,18.572,16.144,NaN,729.131,0
26566,26566,E,146.02,material_7,material_6,6,9,10,12,8,...,11.242,14.179,20.564,10.234,14.450,14.322,13.146,16.471,853.924,0
26567,26567,E,115.62,material_7,material_6,6,9,1,10,1,...,11.407,16.437,17.476,8.668,15.069,16.599,15.590,14.065,750.364,0
26568,26568,E,106.38,material_7,material_6,6,9,2,9,4,...,11.392,17.064,17.814,14.928,16.273,15.485,13.624,12.865,730.156,0
26569,26569,E,131.20,material_7,material_6,6,9,6,19,1,...,10.611,15.603,19.703,11.006,15.875,13.366,16.527,17.890,602.354,0

In [16]:
train.product_code.value_counts(ascending = True)

# product_code는 비교적 균일하게 분포해 있는 듯 하다

A    5100
D    5112
B    5250
E    5343
C    5765
Name: product_code, dtype: int64

In [17]:
train.failure.value_counts(ascending = False)

# failure column은 1이 실패한 경우, 0은 실패하지 않은 경우 인가보다

0    20921
1     5649
Name: failure, dtype: int64

In [18]:
test = pd.read_csv('./data/test.csv')

In [19]:
test.product_code.unique()

array(['F', 'G', 'H', 'I'], dtype=object)

In [20]:
test.attribute_0.unique()

array(['material_5', 'material_7'], dtype=object)

In [21]:
test.attribute_1.unique()

array(['material_6', 'material_7', 'material_5'], dtype=object)

In [22]:
train = train.drop('id', axis = 1)

In [23]:
train

,product_code,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,measurement_3,...,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,failure
0,A,80.10,material_7,material_8,9,5,7,8,4,18.040,...,10.672,15.859,17.594,15.193,15.029,NaN,13.034,14.684,764.100,0
1,A,84.89,material_7,material_8,9,5,14,3,3,18.213,...,12.448,17.947,17.915,11.755,14.732,15.425,14.395,15.631,682.057,0
2,A,82.43,material_7,material_8,9,5,12,1,5,18.057,...,12.715,15.607,NaN,13.798,16.711,18.631,14.094,17.946,663.376,0
3,A,101.07,material_7,material_8,9,5,13,2,6,17.295,...,12.471,16.346,18.377,10.020,15.250,15.562,16.154,17.172,826.282,0
4,A,188.06,material_7,material_8,9,5,9,2,8,19.346,...,10.337,17.082,19.932,12.428,16.182,12.760,13.153,16.412,579.885,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26565,E,158.95,material_7,material_6,6,9,6,16,4,16.301,...,NaN,12.177,17.942,10.112,15.795,18.572,16.144,NaN,729.131,0
26566,E,146.02,material_7,material_6,6,9,10,12,8,17.543,...,11.242,14.179,20.564,10.234,14.450,14.322,13.146,16.471,853.924,0
26567,E,115.62,material_7,material_6,6,9,1,10,1,15.670,...,11.407,16.437,17.476,8.668,15.069,16.599,15.590,14.065,750.364,0
26568,E,106.38,material_7,material_6,6,9,2,9,4,18.059,...,11.392,17.064,17.814,14.928,16.273,15.485,13.624,12.865,730.156,0
26569,E,131.20,material_7,material_6,6,9,6,19,1,18.034,...,10.611,15.603,19.703,11.006,15.875,13.366,16.527,17.890,602.354,0

In [24]:
train.groupby('product_code')['attribute_0', 'attribute_1'].value_counts()

C:\Users\sjhh4\AppData\Local\Temp/ipykernel_22428/3485109765.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  train.groupby('product_code')['attribute_0', 'attribute_1'].value_counts()

product_code  attribute_0  attribute_1
A             material_7   material_8     5100
B             material_5   material_5     5250
C             material_7   material_8     5765
D             material_7   material_5     5112
E             material_7   material_6     5343
dtype: int64

In [25]:
train[train['product_code'] == 'A']

,product_code,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,measurement_3,...,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,failure
0,A,80.10,material_7,material_8,9,5,7,8,4,18.040,...,10.672,15.859,17.594,15.193,15.029,NaN,13.034,14.684,764.100,0
1,A,84.89,material_7,material_8,9,5,14,3,3,18.213,...,12.448,17.947,17.915,11.755,14.732,15.425,14.395,15.631,682.057,0
2,A,82.43,material_7,material_8,9,5,12,1,5,18.057,...,12.715,15.607,NaN,13.798,16.711,18.631,14.094,17.946,663.376,0
3,A,101.07,material_7,material_8,9,5,13,2,6,17.295,...,12.471,16.346,18.377,10.020,15.250,15.562,16.154,17.172,826.282,0
4,A,188.06,material_7,material_8,9,5,9,2,8,19.346,...,10.337,17.082,19.932,12.428,16.182,12.760,13.153,16.412,579.885,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5095,A,120.39,material_7,material_8,9,5,11,2,4,16.156,...,11.083,16.543,18.677,13.552,15.692,13.436,13.017,15.528,NaN,0
5096,A,123.55,material_7,material_8,9,5,8,8,6,17.252,...,9.958,15.651,21.133,10.983,16.957,16.642,17.839,19.280,NaN,0
5097,A,119.23,material_7,material_8,9,5,15,3,0,18.350,...,11.439,16.905,22.755,12.294,14.443,15.319,16.994,19.321,611.463,0
5098,A,111.27,material_7,material_8,9,5,6,4,4,18.532,...,10.707,NaN,20.012,11.342,16.377,15.422,16.646,17.539,697.979,0
5099,A,194.91,material_7,material_8,9,5,10,11,9,18.600,...,11.836,17.388,20.300,11.030,15.816,18.161,13.900,15.272,749.749,0

In [26]:
train[train['product_code'] == 'A'].attribute_0.unique()

array(['material_7'], dtype=object)

In [27]:
train[train['product_code'] == 'A'].attribute_1.unique()

array(['material_8'], dtype=object)

In [28]:
train[train['product_code'] == 'A'].attribute_2.unique()

array([9], dtype=int64)

In [29]:
train[train['product_code'] == 'A'].attribute_3.unique()

array([5], dtype=int64)

In [30]:
train[train['product_code'] == 'B'].attribute_0.unique()

array(['material_5'], dtype=object)

In [31]:
train[train['product_code'] == 'B'].attribute_1.unique()

array(['material_5'], dtype=object)

In [32]:
train[train['product_code'] == 'C'].attribute_0.unique()

array(['material_7'], dtype=object)

In [33]:
train[train['product_code'] == 'C'].attribute_1.unique()

array(['material_8'], dtype=object)

In [34]:
train[train['product_code'] == 'D'].attribute_0.unique()

array(['material_7'], dtype=object)

In [35]:
train[train['product_code'] == 'D'].attribute_1.unique()

array(['material_5'], dtype=object)

In [36]:
train[train['product_code'] == 'E'].attribute_0.unique()

array(['material_7'], dtype=object)

In [37]:
train[train['product_code'] == 'E'].attribute_1.unique()

array(['material_6'], dtype=object)

In [38]:
for i in ['A', 'B', 'C', 'D', 'E']:
    for j in range(2):
        print(len(train[train['product_code'] == i][f'attribute_{j}'].unique()))

1
1
1
1
1
1
1
1
1
1

## product_code와 attribute_0, 1이 1:1 대응이 되는 관계다!

## 즉, product_code를 지우고 attribute_0과 1 만으로 product code를 알 수 있게 된다!

In [39]:
test[test['product_code']=='F'].attribute_0.value_counts()

material_5    5422
Name: attribute_0, dtype: int64

In [40]:
test[test['product_code']=='F'].attribute_1.value_counts()

material_6    5422
Name: attribute_1, dtype: int64

In [41]:
test[test['product_code']=='G'].attribute_0.value_counts()

material_5    5107
Name: attribute_0, dtype: int64

In [42]:
test[test['product_code']=='G'].attribute_1.value_counts()

material_6    5107
Name: attribute_1, dtype: int64

In [43]:
test[test['product_code']=='H'].attribute_0.value_counts()

material_7    5018
Name: attribute_0, dtype: int64

In [44]:
test[test['product_code']=='H'].attribute_1.value_counts()

material_7    5018
Name: attribute_1, dtype: int64

In [45]:
test[test['product_code']=='I'].attribute_0.value_counts()

material_7    5228
Name: attribute_0, dtype: int64

In [46]:
test[test['product_code']=='I'].attribute_1.value_counts()

material_5    5228
Name: attribute_1, dtype: int64

In [47]:
train[train['product_code'] == 'A'].describe()

,loading,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,measurement_3,measurement_4,measurement_5,measurement_6,...,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,failure
count,5051.000000,5100.0,5100.0,5100.000000,5100.000000,5100.000000,5032.000000,4998.000000,4949.000000,4925.000000,...,4875.000000,4843.000000,4804.000000,4774.000000,4770.000000,4784.000000,4723.000000,4712.000000,4674.000000,5100.000000
mean,127.469361,9.0,5.0,10.325882,4.229412,5.226078,17.808524,11.716103,17.143195,17.505004,...,11.436477,16.124386,19.439558,12.249168,15.585325,16.110886,14.456503,16.410397,702.646048,0.227255
std,39.093590,0.0,0.0,4.230892,2.723428,2.884531,0.998438,0.998254,0.990529,1.009220,...,0.991172,0.995921,1.638846,1.425327,0.997598,1.546100,1.592045,1.634601,106.622368,0.419100
min,33.160000,9.0,5.0,0.000000,0.000000,0.000000,13.968000,8.155000,12.813000,14.043000,...,7.537000,11.885000,12.620000,7.291000,12.030000,10.556000,9.255000,11.448000,309.406000,0.000000
25%,99.820000,9.0,5.0,7.000000,2.000000,3.000000,17.132750,11.027250,16.470000,16.855000,...,10.763500,15.448000,18.308500,11.271000,14.910250,15.015750,13.381000,15.221000,632.459500,0.000000
50%,121.960000,9.0,5.0,10.000000,4.000000,5.000000,17.808000,11.716000,17.128000,17.508000,...,11.443000,16.138000,19.460000,12.339500,15.586000,16.026500,14.377000,16.323500,703.041500,0.000000
75%,148.840000,9.0,5.0,13.000000,6.000000,7.000000,18.476000,12.391750,17.802000,18.185000,...,12.102000,16.775000,20.616250,13.269750,16.245000,17.242250,15.408000,17.549000,774.510750,0.000000
max,342.880000,9.0,5.0,26.000000,18.000000,19.000000,21.022000,16.484000,21.425000,21.023000,...,15.045000,20.199000,24.960000,17.392000,19.774000,20.598000,21.515000,22.447000,1084.267000,1.000000

In [48]:
train.dropna().shape

(12183, 25)

In [49]:
train['measurement_17'].dropna().shape

(24286,)

In [102]:
train_A = train[train["product_code"] == 'A']

In [103]:
train_A

,product_code,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,measurement_3,...,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,failure
0,A,80.10,material_7,material_8,9,5,7,8,4,18.040,...,10.672,15.859,17.594,15.193,15.029,NaN,13.034,14.684,764.100,0
1,A,84.89,material_7,material_8,9,5,14,3,3,18.213,...,12.448,17.947,17.915,11.755,14.732,15.425,14.395,15.631,682.057,0
2,A,82.43,material_7,material_8,9,5,12,1,5,18.057,...,12.715,15.607,NaN,13.798,16.711,18.631,14.094,17.946,663.376,0
3,A,101.07,material_7,material_8,9,5,13,2,6,17.295,...,12.471,16.346,18.377,10.020,15.250,15.562,16.154,17.172,826.282,0
4,A,188.06,material_7,material_8,9,5,9,2,8,19.346,...,10.337,17.082,19.932,12.428,16.182,12.760,13.153,16.412,579.885,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5095,A,120.39,material_7,material_8,9,5,11,2,4,16.156,...,11.083,16.543,18.677,13.552,15.692,13.436,13.017,15.528,NaN,0
5096,A,123.55,material_7,material_8,9,5,8,8,6,17.252,...,9.958,15.651,21.133,10.983,16.957,16.642,17.839,19.280,NaN,0
5097,A,119.23,material_7,material_8,9,5,15,3,0,18.350,...,11.439,16.905,22.755,12.294,14.443,15.319,16.994,19.321,611.463,0
5098,A,111.27,material_7,material_8,9,5,6,4,4,18.532,...,10.707,NaN,20.012,11.342,16.377,15.422,16.646,17.539,697.979,0
5099,A,194.91,material_7,material_8,9,5,10,11,9,18.600,...,11.836,17.388,20.300,11.030,15.816,18.161,13.900,15.272,749.749,0

In [104]:
train_A.iloc[0]

product_code               A
loading                 80.1
attribute_0       material_7
attribute_1       material_8
attribute_2                9
attribute_3                5
measurement_0              7
measurement_1              8
measurement_2              4
measurement_3          18.04
measurement_4         12.518
measurement_5         15.748
measurement_6         19.292
measurement_7         11.739
measurement_8         20.155
measurement_9         10.672
measurement_10        15.859
measurement_11        17.594
measurement_12        15.193
measurement_13        15.029
measurement_14           NaN
measurement_15        13.034
measurement_16        14.684
measurement_17         764.1
failure                    0
Name: 0, dtype: object

In [105]:
train_A.iloc[1]

product_code               A
loading                84.89
attribute_0       material_7
attribute_1       material_8
attribute_2                9
attribute_3                5
measurement_0             14
measurement_1              3
measurement_2              3
measurement_3         18.213
measurement_4          11.54
measurement_5         17.717
measurement_6         17.893
measurement_7         12.748
measurement_8         17.889
measurement_9         12.448
measurement_10        17.947
measurement_11        17.915
measurement_12        11.755
measurement_13        14.732
measurement_14        15.425
measurement_15        14.395
measurement_16        15.631
measurement_17       682.057
failure                    0
Name: 1, dtype: object

In [106]:
train_A.iloc[2]

product_code               A
loading                82.43
attribute_0       material_7
attribute_1       material_8
attribute_2                9
attribute_3                5
measurement_0             12
measurement_1              1
measurement_2              5
measurement_3         18.057
measurement_4         11.652
measurement_5         16.738
measurement_6          18.24
measurement_7         12.718
measurement_8         18.288
measurement_9         12.715
measurement_10        15.607
measurement_11           NaN
measurement_12        13.798
measurement_13        16.711
measurement_14        18.631
measurement_15        14.094
measurement_16        17.946
measurement_17       663.376
failure                    0
Name: 2, dtype: object

In [107]:
train_A[train_A['failure'] == 0].isnull().sum()

product_code        0
loading            31
attribute_0         0
attribute_1         0
attribute_2         0
attribute_3         0
measurement_0       0
measurement_1       0
measurement_2       0
measurement_3      58
measurement_4      79
measurement_5     111
measurement_6     139
measurement_7     129
measurement_8     150
measurement_9     170
measurement_10    192
measurement_11    230
measurement_12    242
measurement_13    252
measurement_14    246
measurement_15    294
measurement_16    301
measurement_17    322
failure             0
dtype: int64

In [108]:
train_A[train_A['failure'] == 1].isnull().sum()

product_code        0
loading            18
attribute_0         0
attribute_1         0
attribute_2         0
attribute_3         0
measurement_0       0
measurement_1       0
measurement_2       0
measurement_3      10
measurement_4      23
measurement_5      40
measurement_6      36
measurement_7      47
measurement_8      37
measurement_9      55
measurement_10     65
measurement_11     66
measurement_12     84
measurement_13     78
measurement_14     70
measurement_15     83
measurement_16     87
measurement_17    104
failure             0
dtype: int64

In [109]:
train.dropna().shape

(12183, 25)

In [110]:
train_A.isnull().sum()

product_code        0
loading            49
attribute_0         0
attribute_1         0
attribute_2         0
attribute_3         0
measurement_0       0
measurement_1       0
measurement_2       0
measurement_3      68
measurement_4     102
measurement_5     151
measurement_6     175
measurement_7     176
measurement_8     187
measurement_9     225
measurement_10    257
measurement_11    296
measurement_12    326
measurement_13    330
measurement_14    316
measurement_15    377
measurement_16    388
measurement_17    426
failure             0
dtype: int64

In [111]:
train_A.shape

(5100, 25)

In [112]:
train_A.dropna(axis = 0).shape

# 약 절반이 날아감

(2381, 25)

In [113]:
train_A.describe()

,loading,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,measurement_3,measurement_4,measurement_5,measurement_6,...,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,failure
count,5051.000000,5100.0,5100.0,5100.000000,5100.000000,5100.000000,5032.000000,4998.000000,4949.000000,4925.000000,...,4875.000000,4843.000000,4804.000000,4774.000000,4770.000000,4784.000000,4723.000000,4712.000000,4674.000000,5100.000000
mean,127.469361,9.0,5.0,10.325882,4.229412,5.226078,17.808524,11.716103,17.143195,17.505004,...,11.436477,16.124386,19.439558,12.249168,15.585325,16.110886,14.456503,16.410397,702.646048,0.227255
std,39.093590,0.0,0.0,4.230892,2.723428,2.884531,0.998438,0.998254,0.990529,1.009220,...,0.991172,0.995921,1.638846,1.425327,0.997598,1.546100,1.592045,1.634601,106.622368,0.419100
min,33.160000,9.0,5.0,0.000000,0.000000,0.000000,13.968000,8.155000,12.813000,14.043000,...,7.537000,11.885000,12.620000,7.291000,12.030000,10.556000,9.255000,11.448000,309.406000,0.000000
25%,99.820000,9.0,5.0,7.000000,2.000000,3.000000,17.132750,11.027250,16.470000,16.855000,...,10.763500,15.448000,18.308500,11.271000,14.910250,15.015750,13.381000,15.221000,632.459500,0.000000
50%,121.960000,9.0,5.0,10.000000,4.000000,5.000000,17.808000,11.716000,17.128000,17.508000,...,11.443000,16.138000,19.460000,12.339500,15.586000,16.026500,14.377000,16.323500,703.041500,0.000000
75%,148.840000,9.0,5.0,13.000000,6.000000,7.000000,18.476000,12.391750,17.802000,18.185000,...,12.102000,16.775000,20.616250,13.269750,16.245000,17.242250,15.408000,17.549000,774.510750,0.000000
max,342.880000,9.0,5.0,26.000000,18.000000,19.000000,21.022000,16.484000,21.425000,21.023000,...,15.045000,20.199000,24.960000,17.392000,19.774000,20.598000,21.515000,22.447000,1084.267000,1.000000

In [114]:
train_B = train[train['product_code'] == 'B']
train_B

,product_code,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,measurement_3,...,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,failure
5100,B,81.46,material_5,material_5,8,8,12,12,4,19.267,...,12.261,14.961,18.640,11.267,16.658,15.403,14.786,17.417,761.784,0
5101,B,92.59,material_5,material_5,8,8,7,3,8,17.773,...,11.845,18.434,21.331,12.767,14.080,17.255,15.344,16.296,569.667,0
5102,B,179.82,material_5,material_5,8,8,5,11,10,17.827,...,12.171,17.084,18.645,10.618,18.361,16.001,18.012,18.445,589.286,0
5103,B,129.10,material_5,material_5,8,8,3,3,9,17.600,...,10.523,17.849,19.328,10.738,18.896,17.661,15.544,16.645,646.248,0
5104,B,130.43,material_5,material_5,8,8,13,14,17,17.350,...,12.318,16.095,22.801,11.450,15.376,17.048,14.007,NaN,638.087,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10345,B,120.94,material_5,material_5,8,8,5,6,7,19.175,...,10.681,16.021,20.451,11.638,15.615,16.670,17.737,16.202,650.520,0
10346,B,96.60,material_5,material_5,8,8,3,13,12,18.894,...,12.048,16.217,20.381,11.338,18.533,15.937,13.026,20.630,710.759,1
10347,B,105.82,material_5,material_5,8,8,2,11,3,17.540,...,10.527,16.999,17.636,12.410,NaN,17.040,14.885,16.290,673.879,1
10348,B,82.07,material_5,material_5,8,8,2,4,11,17.506,...,12.076,15.741,19.937,10.956,14.832,17.106,16.910,15.281,926.387,0
10349,B,115.51,material_5,material_5,8,8,4,1,10,16.905,...,12.214,14.514,19.491,NaN,14.409,15.685,14.938,15.603,556.012,1

In [115]:
train_C = train[train['product_code'] == 'C']
train_C

,product_code,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,measurement_3,...,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,failure
10350,C,111.30,material_7,material_8,5,8,4,7,6,16.890,...,11.380,16.083,NaN,13.290,16.202,18.518,16.589,18.701,580.378,0
10351,C,127.17,material_7,material_8,5,8,6,11,4,18.337,...,11.912,16.257,17.474,11.300,16.547,17.147,13.891,15.667,647.879,0
10352,C,99.69,material_7,material_8,5,8,6,7,8,18.770,...,10.995,14.918,17.933,10.389,15.755,16.470,16.199,14.784,715.385,0
10353,C,114.54,material_7,material_8,5,8,13,5,1,18.899,...,10.791,17.590,16.633,11.474,15.046,18.419,NaN,16.177,NaN,0
10354,C,211.52,material_7,material_8,5,8,7,6,5,17.480,...,11.295,17.590,18.592,11.684,15.717,17.500,16.392,NaN,782.793,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16110,C,118.14,material_7,material_8,5,8,1,9,3,16.883,...,11.181,16.391,20.434,9.365,16.182,15.934,12.487,14.615,433.006,0
16111,C,119.86,material_7,material_8,5,8,10,9,9,17.686,...,10.959,16.567,18.430,11.836,15.767,18.049,15.346,15.337,572.642,1
16112,C,122.66,material_7,material_8,5,8,8,9,9,18.132,...,10.333,18.631,17.557,11.959,16.202,14.098,14.110,15.025,486.221,0
16113,C,102.18,material_7,material_8,5,8,6,9,14,19.086,...,12.844,15.222,21.640,10.923,14.819,15.180,14.735,14.727,867.366,1
16114,C,147.95,material_7,material_8,5,8,6,10,6,17.457,...,11.786,16.000,17.703,11.779,15.417,18.915,16.474,13.720,787.578,0

In [116]:
train_D = train[train['product_code'] == 'D']
train_D

,product_code,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,measurement_3,...,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,failure
16115,D,76.89,material_7,material_5,6,6,16,2,7,17.427,...,11.536,14.690,19.622,11.082,16.323,15.633,16.153,15.640,648.974,1
16116,D,96.13,material_7,material_5,6,6,9,10,5,18.014,...,10.746,NaN,18.475,10.174,15.710,16.274,12.229,17.204,741.103,0
16117,D,124.40,material_7,material_5,6,6,10,15,0,18.374,...,10.240,16.035,18.224,11.005,15.925,16.257,16.338,17.653,NaN,0
16118,D,175.84,material_7,material_5,6,6,4,8,15,18.056,...,12.015,18.195,19.410,10.761,16.176,16.926,13.813,13.615,NaN,1
16119,D,118.70,material_7,material_5,6,6,15,8,5,16.513,...,12.615,15.775,18.778,9.683,NaN,17.066,14.690,18.798,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21222,D,111.03,material_7,material_5,6,6,7,13,8,17.288,...,13.988,NaN,21.500,10.596,14.833,18.031,17.688,15.257,689.243,0
21223,D,175.93,material_7,material_5,6,6,2,5,9,17.755,...,9.307,16.060,18.213,12.075,15.825,16.138,14.821,17.246,831.063,0
21224,D,94.40,material_7,material_5,6,6,9,10,2,16.502,...,12.160,19.512,18.563,12.369,15.738,18.406,15.719,12.468,640.279,0
21225,D,146.29,material_7,material_5,6,6,3,10,14,16.955,...,9.612,20.372,19.107,12.737,14.927,18.719,15.970,12.154,681.425,1
21226,D,93.14,material_7,material_5,6,6,16,4,13,17.573,...,9.943,15.443,17.615,10.843,15.654,15.540,14.882,15.956,924.368,0

In [117]:
train_E = train[train['product_code'] == 'E']
train_E

,product_code,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,measurement_3,...,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,failure
21227,E,106.56,material_7,material_6,6,9,5,14,7,18.047,...,10.137,18.135,19.908,11.219,15.405,NaN,NaN,15.548,NaN,0
21228,E,125.88,material_7,material_6,6,9,1,2,16,17.625,...,12.805,18.255,20.823,10.659,17.877,NaN,14.744,15.155,537.426,1
21229,E,159.94,material_7,material_6,6,9,6,10,10,17.910,...,8.479,13.939,18.627,12.003,15.298,19.076,14.972,16.820,537.094,0
21230,E,152.40,material_7,material_6,6,9,1,8,6,17.649,...,11.845,17.015,20.150,10.950,15.244,14.510,14.409,14.882,802.180,1
21231,E,183.33,material_7,material_6,6,9,7,16,8,NaN,...,11.567,15.455,19.579,12.605,NaN,15.377,NaN,16.764,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26565,E,158.95,material_7,material_6,6,9,6,16,4,16.301,...,NaN,12.177,17.942,10.112,15.795,18.572,16.144,NaN,729.131,0
26566,E,146.02,material_7,material_6,6,9,10,12,8,17.543,...,11.242,14.179,20.564,10.234,14.450,14.322,13.146,16.471,853.924,0
26567,E,115.62,material_7,material_6,6,9,1,10,1,15.670,...,11.407,16.437,17.476,8.668,15.069,16.599,15.590,14.065,750.364,0
26568,E,106.38,material_7,material_6,6,9,2,9,4,18.059,...,11.392,17.064,17.814,14.928,16.273,15.485,13.624,12.865,730.156,0
26569,E,131.20,material_7,material_6,6,9,6,19,1,18.034,...,10.611,15.603,19.703,11.006,15.875,13.366,16.527,17.890,602.354,0

In [118]:
train_A

,product_code,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,measurement_3,...,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,failure
0,A,80.10,material_7,material_8,9,5,7,8,4,18.040,...,10.672,15.859,17.594,15.193,15.029,NaN,13.034,14.684,764.100,0
1,A,84.89,material_7,material_8,9,5,14,3,3,18.213,...,12.448,17.947,17.915,11.755,14.732,15.425,14.395,15.631,682.057,0
2,A,82.43,material_7,material_8,9,5,12,1,5,18.057,...,12.715,15.607,NaN,13.798,16.711,18.631,14.094,17.946,663.376,0
3,A,101.07,material_7,material_8,9,5,13,2,6,17.295,...,12.471,16.346,18.377,10.020,15.250,15.562,16.154,17.172,826.282,0
4,A,188.06,material_7,material_8,9,5,9,2,8,19.346,...,10.337,17.082,19.932,12.428,16.182,12.760,13.153,16.412,579.885,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5095,A,120.39,material_7,material_8,9,5,11,2,4,16.156,...,11.083,16.543,18.677,13.552,15.692,13.436,13.017,15.528,NaN,0
5096,A,123.55,material_7,material_8,9,5,8,8,6,17.252,...,9.958,15.651,21.133,10.983,16.957,16.642,17.839,19.280,NaN,0
5097,A,119.23,material_7,material_8,9,5,15,3,0,18.350,...,11.439,16.905,22.755,12.294,14.443,15.319,16.994,19.321,611.463,0
5098,A,111.27,material_7,material_8,9,5,6,4,4,18.532,...,10.707,NaN,20.012,11.342,16.377,15.422,16.646,17.539,697.979,0
5099,A,194.91,material_7,material_8,9,5,10,11,9,18.600,...,11.836,17.388,20.300,11.030,15.816,18.161,13.900,15.272,749.749,0

In [119]:
train_A.isnull().sum()

product_code        0
loading            49
attribute_0         0
attribute_1         0
attribute_2         0
attribute_3         0
measurement_0       0
measurement_1       0
measurement_2       0
measurement_3      68
measurement_4     102
measurement_5     151
measurement_6     175
measurement_7     176
measurement_8     187
measurement_9     225
measurement_10    257
measurement_11    296
measurement_12    326
measurement_13    330
measurement_14    316
measurement_15    377
measurement_16    388
measurement_17    426
failure             0
dtype: int64

In [120]:
train_A.loading

0        80.10
1        84.89
2        82.43
3       101.07
4       188.06
         ...
5095    120.39
5096    123.55
5097    119.23
5098    111.27
5099    194.91
Name: loading, Length: 5100, dtype: float64

In [121]:
train_A[train_A.loading.isnull() == True]

,product_code,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,measurement_3,...,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,failure
156,A,NaN,material_7,material_8,9,5,14,4,6,18.550,...,13.594,16.280,20.429,10.342,15.777,15.401,16.145,18.438,727.432,0
159,A,NaN,material_7,material_8,9,5,12,5,3,17.301,...,10.270,16.555,20.365,10.751,14.404,17.365,19.074,14.930,735.700,0
187,A,NaN,material_7,material_8,9,5,10,4,7,16.030,...,12.331,15.960,19.667,14.453,16.231,17.371,14.450,17.744,706.711,0
220,A,NaN,material_7,material_8,9,5,9,7,6,18.159,...,12.933,16.122,19.643,14.371,15.592,14.938,12.046,14.986,689.350,0
271,A,NaN,material_7,material_8,9,5,14,1,3,NaN,...,13.713,15.945,20.212,12.677,18.007,17.672,NaN,14.497,635.575,0
287,A,NaN,material_7,material_8,9,5,14,1,7,16.844,...,11.944,16.621,19.287,10.777,14.752,17.368,13.811,15.118,804.161,0
379,A,NaN,material_7,material_8,9,5,11,5,2,16.994,...,13.074,16.902,18.293,10.670,15.018,16.903,15.439,15.589,620.732,1
456,A,NaN,material_7,material_8,9,5,12,1,4,18.326,...,NaN,14.996,20.274,10.614,15.419,15.213,14.256,17.141,647.831,1
737,A,NaN,material_7,material_8,9,5,14,3,6,19.593,...,11.361,NaN,18.430,12.107,16.452,NaN,14.254,18.622,815.532,0
949,A,NaN,material_7,material_8,9,5,6,6,10,17.037,...,11.112,16.278,17.265,13.662,15.387,14.998,15.323,16.615,614.546,1
1066,A,NaN,material_7,material_8,9,5,15,3,9,19.845,...,12.367,14.760,17.815,NaN,15.812,13.113,13.144,15.169,567.475,0
1218,A,NaN,material_7,material_8,9,5,8,3,3,18.516,...,12.291,15.902,19.029,13.676,16.352,14.436,14.314,NaN,866.388,1
1276,A,NaN,material_7,material_8,9,5,9,1,11,17.071,...,11.085,16.215,20.689,10.090,13.220,17.018,18.463,14.775,644.419,0
1466,A,NaN,material_7,material_8,9,5,17,7,5,18.475,...,11.325,16.304,18.211,12.355,16.020,13.713,13.216,18.427,797.860,1
1511,A,NaN,material_7,material_8,9,5,15,3,3,17.922,...,11.140,18.057,17.201,13.540,14.378,15.031,NaN,NaN,728.075,1
1561,A,NaN,material_7,material_8,9,5,6,7,4,18.644,...,10.328,14.776,16.824,11.975,NaN,14.904,15.388,NaN,762.333,1
1604,A,NaN,material_7,material_8,9,5,18,2,0,17.459,...,11.725,16.958,18.706,NaN,15.629,16.230,16.369,19.170,901.282,0
1946,A,NaN,material_7,material_8,9,5,13,3,2,17.100,...,NaN,14.005,18.138,13.454,16.439,14.580,12.851,14.906,533.407,1
1973,A,NaN,material_7,material_8,9,5,8,7,5,19.032,...,12.321,14.921,21.543,10.620,15.362,13.524,NaN,17.107,480.504,0
2008,A,NaN,material_7,material_8,9,5,15,4,1,18.366,...,11.948,15.290,20.759,9.559,15.269,16.502,14.922,14.300,708.902,0
2049,A,NaN,material_7,material_8,9,5,8,6,3,18.235,...,10.629,14.804,20.612,13.089,15.219,16.739,NaN,13.428,829.468,0
2125,A,NaN,material_7,material_8,9,5,10,5,7,19.853,...,10.478,15.748,20.048,13.240,15.121,16.990,12.893,16.128,455.484,1
2329,A,NaN,material_7,material_8,9,5,8,7,10,19.172,...,10.702,17.372,24.354,11.513,16.017,16.977,12.327,NaN,756.701,0
2330,A,NaN,material_7,material_8,9,5,5,6,3,17.150,...,13.094,17.017,17.671,12.948,16.546,15.335,14.585,16.559,665.734,0
2374,A,NaN,material_7,material_8,9,5,6,7,10,19.168,...,11.122,15.249,16.585,11.482,16.493,15.104,NaN,15.081,839.957,1
2586,A,NaN,material_7,material_8,9,5,4,1,6,17.983,...,9.025,16.168,20.072,NaN,14.396,17.135,12.583,15.252,560.207,1
2603,A,NaN,material_7,material_8,9,5,11,4,6,16.417,...,10.650,16.516,19.386,10.928,16.168,17.979,NaN,18.814,864.921,0
2663,A,NaN,material_7,material_8,9,5,12,5,4,19.101,...,11.537,15.501,21.001,12.789,14.941,13.593,14.938,18.750,798.319,1
2719,A,NaN,material_7,material_8,9,5,5,10,6,16.855,...,11.712,14.652,17.932,13.039,13.668,16.679,15.043,17.546,526.479,0
2896,A,NaN,material_7,material_8,9,5,15,1,5,17.074,...,10.761,15.246,20.692,10.525,NaN,13.118,13.548,18.068,483.880,0
3076,A,NaN,material_7,material_8,9,5,9,7,8,16.504,...,12.396,16.982,14.831,9.791,14.735,15.554,16.035,12.746,NaN,1
3151,A,NaN,material_7,material_8,9,5,9,9,7,17.221,...,10.961,15.118,18.115,12.348,15.723,15.762,13.912,15.679,780.595,1
3198,A,NaN,material_7,material_8,9,5,16,0,6,19.031,...,11.698,15.681,18.708,10.179,13.787,13.963,14.484,17.251,585.070,0
3314,A,NaN,material_7,material_8,9,5,11,1,4,17.685,...,9.229,15.014,NaN,11.106,NaN,18.461,NaN,16.915,682.774,1
3344,A,NaN,material_7,material_8,9,5,6,5,8,16.540,...,13.153,16.858,19.338,13.393,NaN,16.165,14.926,16.138,NaN,0
3372,A,NaN,material_7,material_8,9,5,7,3,11,17.307,...,9.351,15.536,20.718,12.402,14.702,17.419,15.549,14.790,858.396,0
3616,A,NaN,material_7,material_8,9,5,8,1,6,17.396,...,11.694,15.633,22.622,12.639,14.158,14.461,16.265,15.901,NaN,0
3686,A,NaN,material_7,material_8,9,5,5,3,0,16.932,...,10.191,16.682,20.372,10.911,16.285,16.284,17.413,18.172,609.706,0
4056,A,NaN,material_7,material_8,9,5,16,5,4,17.271,...,NaN,15.344,19.103,12.102,15.340,14.337,14.237,15.209,788.485,0
4079,A,NaN,material_7,material_8,9,5,8,6,11,17.048,...,13.325,15.491,20.686,12.260,16.764,NaN,NaN,14.574,814.687,0
4109,A,NaN,material_7,material_8,9,5,7,1,5,16.828,...,12.136,NaN,19.518,9.714,15.984,17.395,NaN,15.126,769.709,1
4180,A,NaN,material_7,material_8,9,5,8,5,2,19.102,...,10.282,15.818,18.306,12.333,15.104,16.834,13.172,16.141,625.595,0
4276,A,NaN,material_7,material_8,9,5,12,2,3,17.417,...,10.688,15.344,19.094,11.233,15.305,15.824,14.651,18.211,652.164,0
4326,A,NaN,material_7,material_8,9,5,15,4,2,18.100,...,11.670,15.673,20.107,11.283,15.429,14.499,15.395,18.416,603.992,0
4415,A,NaN,material_7,material_8,9,5,7,3,6,17.585,...,12.594,16.048,20.446,10.701,13.337,13.552,13.974,18.288,661.623,1
4467,A,NaN,material_7,material_8,9,5,6,5,6,17.853,...,10.044,17.420,21.485,10.253,16.048,17.772,13.450,14.355,774.530,0
4672,A,NaN,material_7,material_8,9,5,4,1,7,17.291,...,10.580,16.746,17.312,12.832,16.941,16.084,14.627,17.914,620.695,1
4727,A,NaN,material_7,material_8,9,5,15,5,10,17.258,...,11.647,18.410,19.181,10.007,NaN,14.687,15.408,17.432,836.954,0
4932,A,NaN,material_7,material_8,9,5,9,3,5,17.301,...,10.890,18.247,20.062,12.046,15.259,15.146,15.001,17.670,767.479,0

In [122]:
train_A[train_A.measurement_3.isnull() == True]

,product_code,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,measurement_3,...,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,failure
10,A,140.36,material_7,material_8,9,5,10,3,6,NaN,...,12.146,16.483,20.054,10.370,14.873,16.819,14.623,15.121,637.067,0
115,A,145.27,material_7,material_8,9,5,18,3,1,NaN,...,12.037,16.938,21.941,11.664,14.536,NaN,13.949,17.697,708.644,1
121,A,86.02,material_7,material_8,9,5,8,4,8,NaN,...,10.520,16.027,19.510,12.779,14.741,14.120,13.659,15.768,723.246,0
271,A,NaN,material_7,material_8,9,5,14,1,3,NaN,...,13.713,15.945,20.212,12.677,18.007,17.672,NaN,14.497,635.575,0
349,A,166.83,material_7,material_8,9,5,6,5,9,NaN,...,NaN,16.853,19.948,12.358,15.303,18.320,11.844,13.972,722.021,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4771,A,95.33,material_7,material_8,9,5,12,5,5,NaN,...,10.447,16.067,21.366,11.264,14.944,18.416,14.067,16.322,773.427,0
4784,A,148.44,material_7,material_8,9,5,10,2,3,NaN,...,10.963,15.668,16.910,14.410,14.814,15.691,15.361,18.013,657.559,0
4785,A,82.48,material_7,material_8,9,5,7,11,9,NaN,...,12.869,17.331,NaN,14.713,15.363,15.639,12.728,16.434,744.779,1
4860,A,165.61,material_7,material_8,9,5,5,2,8,NaN,...,11.442,14.932,21.589,11.591,15.210,18.274,14.401,13.785,786.646,1
5005,A,93.76,material_7,material_8,9,5,14,2,8,NaN,...,10.724,17.272,21.115,12.445,14.538,16.442,18.210,18.939,455.955,0

In [123]:
train_A[(train_A.loading.isnull() == True) & (train_A.failure == 0)]

,product_code,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,measurement_3,...,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,failure
156,A,NaN,material_7,material_8,9,5,14,4,6,18.550,...,13.594,16.280,20.429,10.342,15.777,15.401,16.145,18.438,727.432,0
159,A,NaN,material_7,material_8,9,5,12,5,3,17.301,...,10.270,16.555,20.365,10.751,14.404,17.365,19.074,14.930,735.700,0
187,A,NaN,material_7,material_8,9,5,10,4,7,16.030,...,12.331,15.960,19.667,14.453,16.231,17.371,14.450,17.744,706.711,0
220,A,NaN,material_7,material_8,9,5,9,7,6,18.159,...,12.933,16.122,19.643,14.371,15.592,14.938,12.046,14.986,689.350,0
271,A,NaN,material_7,material_8,9,5,14,1,3,NaN,...,13.713,15.945,20.212,12.677,18.007,17.672,NaN,14.497,635.575,0
287,A,NaN,material_7,material_8,9,5,14,1,7,16.844,...,11.944,16.621,19.287,10.777,14.752,17.368,13.811,15.118,804.161,0
737,A,NaN,material_7,material_8,9,5,14,3,6,19.593,...,11.361,NaN,18.430,12.107,16.452,NaN,14.254,18.622,815.532,0
1066,A,NaN,material_7,material_8,9,5,15,3,9,19.845,...,12.367,14.760,17.815,NaN,15.812,13.113,13.144,15.169,567.475,0
1276,A,NaN,material_7,material_8,9,5,9,1,11,17.071,...,11.085,16.215,20.689,10.090,13.220,17.018,18.463,14.775,644.419,0
1604,A,NaN,material_7,material_8,9,5,18,2,0,17.459,...,11.725,16.958,18.706,NaN,15.629,16.230,16.369,19.170,901.282,0
1973,A,NaN,material_7,material_8,9,5,8,7,5,19.032,...,12.321,14.921,21.543,10.620,15.362,13.524,NaN,17.107,480.504,0
2008,A,NaN,material_7,material_8,9,5,15,4,1,18.366,...,11.948,15.290,20.759,9.559,15.269,16.502,14.922,14.300,708.902,0
2049,A,NaN,material_7,material_8,9,5,8,6,3,18.235,...,10.629,14.804,20.612,13.089,15.219,16.739,NaN,13.428,829.468,0
2329,A,NaN,material_7,material_8,9,5,8,7,10,19.172,...,10.702,17.372,24.354,11.513,16.017,16.977,12.327,NaN,756.701,0
2330,A,NaN,material_7,material_8,9,5,5,6,3,17.150,...,13.094,17.017,17.671,12.948,16.546,15.335,14.585,16.559,665.734,0
2603,A,NaN,material_7,material_8,9,5,11,4,6,16.417,...,10.650,16.516,19.386,10.928,16.168,17.979,NaN,18.814,864.921,0
2719,A,NaN,material_7,material_8,9,5,5,10,6,16.855,...,11.712,14.652,17.932,13.039,13.668,16.679,15.043,17.546,526.479,0
2896,A,NaN,material_7,material_8,9,5,15,1,5,17.074,...,10.761,15.246,20.692,10.525,NaN,13.118,13.548,18.068,483.880,0
3198,A,NaN,material_7,material_8,9,5,16,0,6,19.031,...,11.698,15.681,18.708,10.179,13.787,13.963,14.484,17.251,585.070,0
3344,A,NaN,material_7,material_8,9,5,6,5,8,16.540,...,13.153,16.858,19.338,13.393,NaN,16.165,14.926,16.138,NaN,0
3372,A,NaN,material_7,material_8,9,5,7,3,11,17.307,...,9.351,15.536,20.718,12.402,14.702,17.419,15.549,14.790,858.396,0
3616,A,NaN,material_7,material_8,9,5,8,1,6,17.396,...,11.694,15.633,22.622,12.639,14.158,14.461,16.265,15.901,NaN,0
3686,A,NaN,material_7,material_8,9,5,5,3,0,16.932,...,10.191,16.682,20.372,10.911,16.285,16.284,17.413,18.172,609.706,0
4056,A,NaN,material_7,material_8,9,5,16,5,4,17.271,...,NaN,15.344,19.103,12.102,15.340,14.337,14.237,15.209,788.485,0
4079,A,NaN,material_7,material_8,9,5,8,6,11,17.048,...,13.325,15.491,20.686,12.260,16.764,NaN,NaN,14.574,814.687,0
4180,A,NaN,material_7,material_8,9,5,8,5,2,19.102,...,10.282,15.818,18.306,12.333,15.104,16.834,13.172,16.141,625.595,0
4276,A,NaN,material_7,material_8,9,5,12,2,3,17.417,...,10.688,15.344,19.094,11.233,15.305,15.824,14.651,18.211,652.164,0
4326,A,NaN,material_7,material_8,9,5,15,4,2,18.100,...,11.670,15.673,20.107,11.283,15.429,14.499,15.395,18.416,603.992,0
4467,A,NaN,material_7,material_8,9,5,6,5,6,17.853,...,10.044,17.420,21.485,10.253,16.048,17.772,13.450,14.355,774.530,0
4727,A,NaN,material_7,material_8,9,5,15,5,10,17.258,...,11.647,18.410,19.181,10.007,NaN,14.687,15.408,17.432,836.954,0
4932,A,NaN,material_7,material_8,9,5,9,3,5,17.301,...,10.890,18.247,20.062,12.046,15.259,15.146,15.001,17.670,767.479,0

In [124]:
train_A[train_A['failure'] == 0].loading.mean()

124.52583887468032

In [135]:
train_A = train_A.sort_values(by = "loading")
train_A

,product_code,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,measurement_3,...,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,failure
2776,A,33.16,material_7,material_8,9,5,13,3,5,19.265,...,10.091,16.487,20.143,11.244,14.732,12.590,NaN,17.951,666.353,0
1517,A,40.81,material_7,material_8,9,5,6,4,11,18.495,...,12.419,17.983,20.860,10.537,16.248,15.771,16.715,18.419,508.769,0
3022,A,44.78,material_7,material_8,9,5,11,1,6,18.234,...,10.399,15.337,NaN,11.088,13.991,NaN,12.883,14.919,715.236,0
3700,A,45.59,material_7,material_8,9,5,10,4,5,17.037,...,10.773,17.254,22.392,13.067,16.040,16.781,11.612,17.116,617.039,0
2620,A,46.17,material_7,material_8,9,5,13,2,4,17.977,...,12.044,NaN,18.960,14.484,15.392,16.115,13.989,NaN,744.786,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4415,A,NaN,material_7,material_8,9,5,7,3,6,17.585,...,12.594,16.048,20.446,10.701,13.337,13.552,13.974,18.288,661.623,1
4467,A,NaN,material_7,material_8,9,5,6,5,6,17.853,...,10.044,17.420,21.485,10.253,16.048,17.772,13.450,14.355,774.530,0
4672,A,NaN,material_7,material_8,9,5,4,1,7,17.291,...,10.580,16.746,17.312,12.832,16.941,16.084,14.627,17.914,620.695,1
4727,A,NaN,material_7,material_8,9,5,15,5,10,17.258,...,11.647,18.410,19.181,10.007,NaN,14.687,15.408,17.432,836.954,0
4932,A,NaN,material_7,material_8,9,5,9,3,5,17.301,...,10.890,18.247,20.062,12.046,15.259,15.146,15.001,17.670,767.479,0

In [140]:
train_A[train_A['failure'] == 0].loading.mean()

124.52583887468032

In [153]:
train_A[train_A['failure'] == 0].loading.fillna(train_A[train_A['failure'] == 0].loading.mean())

2776     33.160000
1517     40.810000
3022     44.780000
3700     45.590000
2620     46.170000
           ...
4276    124.525839
4326    124.525839
4467    124.525839
4727    124.525839
4932    124.525839
Name: loading, Length: 3941, dtype: float64

In [154]:
train_A[train_A['failure'] == 0].loading

2776    33.16
1517    40.81
3022    44.78
3700    45.59
2620    46.17
        ...
4276      NaN
4326      NaN
4467      NaN
4727      NaN
4932      NaN
Name: loading, Length: 3941, dtype: float64

In [156]:
train_A_0 = train_A[train_A['failure'] == 0]
train_A_0

,product_code,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,measurement_3,...,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,failure
2776,A,33.16,material_7,material_8,9,5,13,3,5,19.265,...,10.091,16.487,20.143,11.244,14.732,12.590,NaN,17.951,666.353,0
1517,A,40.81,material_7,material_8,9,5,6,4,11,18.495,...,12.419,17.983,20.860,10.537,16.248,15.771,16.715,18.419,508.769,0
3022,A,44.78,material_7,material_8,9,5,11,1,6,18.234,...,10.399,15.337,NaN,11.088,13.991,NaN,12.883,14.919,715.236,0
3700,A,45.59,material_7,material_8,9,5,10,4,5,17.037,...,10.773,17.254,22.392,13.067,16.040,16.781,11.612,17.116,617.039,0
2620,A,46.17,material_7,material_8,9,5,13,2,4,17.977,...,12.044,NaN,18.960,14.484,15.392,16.115,13.989,NaN,744.786,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4276,A,NaN,material_7,material_8,9,5,12,2,3,17.417,...,10.688,15.344,19.094,11.233,15.305,15.824,14.651,18.211,652.164,0
4326,A,NaN,material_7,material_8,9,5,15,4,2,18.100,...,11.670,15.673,20.107,11.283,15.429,14.499,15.395,18.416,603.992,0
4467,A,NaN,material_7,material_8,9,5,6,5,6,17.853,...,10.044,17.420,21.485,10.253,16.048,17.772,13.450,14.355,774.530,0
4727,A,NaN,material_7,material_8,9,5,15,5,10,17.258,...,11.647,18.410,19.181,10.007,NaN,14.687,15.408,17.432,836.954,0
4932,A,NaN,material_7,material_8,9,5,9,3,5,17.301,...,10.890,18.247,20.062,12.046,15.259,15.146,15.001,17.670,767.479,0

In [158]:
train_A_1 = train_A[train_A['failure'] == 1]
train_A_1

,product_code,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,measurement_3,...,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,failure
3224,A,51.30,material_7,material_8,9,5,8,7,7,17.393,...,12.200,16.336,19.406,12.069,15.973,16.812,14.328,16.744,718.274,1
3728,A,54.23,material_7,material_8,9,5,13,1,8,19.018,...,13.516,16.986,19.417,NaN,16.717,NaN,15.449,17.953,733.782,1
3981,A,57.28,material_7,material_8,9,5,20,6,6,18.455,...,12.429,14.031,22.242,10.754,15.458,17.709,13.626,15.709,736.915,1
1406,A,60.86,material_7,material_8,9,5,13,2,4,16.872,...,13.004,16.920,20.921,12.592,17.194,17.452,14.578,15.705,617.444,1
4264,A,61.54,material_7,material_8,9,5,8,3,1,18.960,...,12.546,16.530,NaN,12.483,13.558,17.264,12.658,16.843,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3151,A,NaN,material_7,material_8,9,5,9,9,7,17.221,...,10.961,15.118,18.115,12.348,15.723,15.762,13.912,15.679,780.595,1
3314,A,NaN,material_7,material_8,9,5,11,1,4,17.685,...,9.229,15.014,NaN,11.106,NaN,18.461,NaN,16.915,682.774,1
4109,A,NaN,material_7,material_8,9,5,7,1,5,16.828,...,12.136,NaN,19.518,9.714,15.984,17.395,NaN,15.126,769.709,1
4415,A,NaN,material_7,material_8,9,5,7,3,6,17.585,...,12.594,16.048,20.446,10.701,13.337,13.552,13.974,18.288,661.623,1
4672,A,NaN,material_7,material_8,9,5,4,1,7,17.291,...,10.580,16.746,17.312,12.832,16.941,16.084,14.627,17.914,620.695,1

In [162]:
train_A_0 = train_A_0.fillna(train_A_0.mean())
train_A_0.describe()

C:\Users\sjhh4\AppData\Local\Temp/ipykernel_22428/4179483069.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  train_A_0 = train_A_0.fillna(train_A_0.mean())

,loading,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,measurement_3,measurement_4,measurement_5,measurement_6,...,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,failure
count,3941.000000,3941.0,3941.0,3941.000000,3941.000000,3941.000000,3941.000000,3941.000000,3941.000000,3941.000000,...,3941.000000,3941.000000,3941.000000,3941.000000,3941.000000,3941.000000,3941.000000,3941.000000,3941.000000,3941.0
mean,124.525839,9.0,5.0,10.341791,4.226846,5.215174,17.803100,11.724654,17.136151,17.502576,...,11.449822,16.129148,19.449388,12.273498,15.588073,16.107377,14.440844,16.408506,701.482673,0.0
std,37.710750,0.0,0.0,4.216676,2.724079,2.884121,0.998409,0.988866,0.962246,1.003231,...,0.974679,0.969116,1.590164,1.373299,0.965146,1.494063,1.530784,1.575664,102.038132,0.0
min,33.160000,9.0,5.0,0.000000,0.000000,0.000000,13.968000,8.155000,13.395000,14.043000,...,7.537000,11.885000,12.620000,7.864000,12.030000,10.556000,9.255000,11.448000,309.406000,0.0
25%,98.010000,9.0,5.0,7.000000,2.000000,3.000000,17.141000,11.063000,16.481000,16.883000,...,10.827000,15.490000,18.384000,11.395000,14.963000,15.101000,13.461000,15.326000,638.305000,0.0
50%,119.280000,9.0,5.0,10.000000,4.000000,5.000000,17.803100,11.724654,17.136151,17.502576,...,11.449822,16.129148,19.449388,12.273498,15.588073,16.107377,14.440844,16.408506,701.482673,0.0
75%,144.450000,9.0,5.0,13.000000,6.000000,7.000000,18.467000,12.376000,17.775000,18.172000,...,12.083000,16.742000,20.551000,13.225000,16.194000,17.157000,15.305000,17.437000,764.627000,0.0
max,342.880000,9.0,5.0,26.000000,18.000000,17.000000,21.022000,16.484000,20.791000,21.023000,...,15.045000,20.199000,24.960000,17.392000,19.774000,20.559000,21.515000,22.447000,1084.267000,0.0

In [161]:
len(train[train['failure'] == 1]) / (len(train[train['failure'] == 0]) + len(train[train['failure'] == 1]))

0.21260820474219044