In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Duplicate key in file WindowsPath('C:/Users/Hyoungrak Oh/.conda/envs/ETA3.9/lib/site-packages/matplotlib/mpl-data/matplotlibrc'), line 257 ('font.family: sans-serif')
Duplicate key in file WindowsPath('C:/Users/Hyoungrak Oh/.conda/envs/ETA3.9/lib/site-packages/matplotlib/mpl-data/matplotlibrc'), line 406 ('axes.unicode_minus: True  # use Unicode for the minus symbol rather than hyphen.  See')

In [3]:
train = pd.read_csv('./data/train.csv')
train

,id,product_code,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,...,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,failure
0,0,A,80.10,material_7,material_8,9,5,7,8,4,...,10.672,15.859,17.594,15.193,15.029,NaN,13.034,14.684,764.100,0
1,1,A,84.89,material_7,material_8,9,5,14,3,3,...,12.448,17.947,17.915,11.755,14.732,15.425,14.395,15.631,682.057,0
2,2,A,82.43,material_7,material_8,9,5,12,1,5,...,12.715,15.607,NaN,13.798,16.711,18.631,14.094,17.946,663.376,0
3,3,A,101.07,material_7,material_8,9,5,13,2,6,...,12.471,16.346,18.377,10.020,15.250,15.562,16.154,17.172,826.282,0
4,4,A,188.06,material_7,material_8,9,5,9,2,8,...,10.337,17.082,19.932,12.428,16.182,12.760,13.153,16.412,579.885,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26565,26565,E,158.95,material_7,material_6,6,9,6,16,4,...,NaN,12.177,17.942,10.112,15.795,18.572,16.144,NaN,729.131,0
26566,26566,E,146.02,material_7,material_6,6,9,10,12,8,...,11.242,14.179,20.564,10.234,14.450,14.322,13.146,16.471,853.924,0
26567,26567,E,115.62,material_7,material_6,6,9,1,10,1,...,11.407,16.437,17.476,8.668,15.069,16.599,15.590,14.065,750.364,0
26568,26568,E,106.38,material_7,material_6,6,9,2,9,4,...,11.392,17.064,17.814,14.928,16.273,15.485,13.624,12.865,730.156,0
26569,26569,E,131.20,material_7,material_6,6,9,6,19,1,...,10.611,15.603,19.703,11.006,15.875,13.366,16.527,17.890,602.354,0

In [5]:
test = pd.read_csv('./data/test.csv')
test

,id,product_code,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,...,measurement_8,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17
0,26570,F,119.57,material_5,material_6,6,4,6,9,6,...,18.654,10.802,15.909,18.070,13.772,13.659,16.825,13.742,17.710,634.612
1,26571,F,113.51,material_5,material_6,6,4,11,8,0,...,19.368,12.032,13.998,NaN,12.473,17.468,16.708,14.776,14.102,537.037
2,26572,F,112.16,material_5,material_6,6,4,8,12,4,...,17.774,11.743,17.046,18.086,10.907,13.363,15.737,17.065,16.021,658.995
3,26573,F,112.72,material_5,material_6,6,4,8,11,10,...,18.948,11.790,18.165,16.163,10.933,15.501,15.667,12.620,16.111,594.301
4,26574,F,208.00,material_5,material_6,6,4,14,16,8,...,19.141,12.370,14.578,17.849,11.941,16.070,16.183,13.324,17.150,801.044
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20770,47340,I,144.74,material_7,material_5,9,5,0,4,9,...,18.573,11.691,NaN,19.771,11.562,17.246,15.131,15.209,NaN,696.466
20771,47341,I,74.53,material_7,material_5,9,5,4,8,7,...,17.917,10.980,16.027,15.694,13.564,15.494,15.296,13.812,16.501,613.249
20772,47342,I,67.73,material_7,material_5,9,5,10,11,2,...,19.630,10.436,16.137,20.612,11.134,16.519,15.525,14.175,17.728,783.349
20773,47343,I,126.15,material_7,material_5,9,5,8,16,11,...,19.575,12.672,15.422,19.496,9.319,15.817,17.403,16.437,15.179,745.210
20774,47344,I,85.97,material_7,material_5,9,5,0,11,11,...,19.253,9.977,17.270,17.924,13.726,14.605,17.460,16.261,16.482,647.980

In [6]:
train.isnull().sum()

id                   0
product_code         0
loading            250
attribute_0          0
attribute_1          0
attribute_2          0
attribute_3          0
measurement_0        0
measurement_1        0
measurement_2        0
measurement_3      381
measurement_4      538
measurement_5      676
measurement_6      796
measurement_7      937
measurement_8     1048
measurement_9     1227
measurement_10    1300
measurement_11    1468
measurement_12    1601
measurement_13    1774
measurement_14    1874
measurement_15    2009
measurement_16    2110
measurement_17    2284
failure              0
dtype: int64

In [8]:
train_A = train[train['product_code'] == 'A']
train_A

,id,product_code,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,...,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,failure
0,0,A,80.10,material_7,material_8,9,5,7,8,4,...,10.672,15.859,17.594,15.193,15.029,NaN,13.034,14.684,764.100,0
1,1,A,84.89,material_7,material_8,9,5,14,3,3,...,12.448,17.947,17.915,11.755,14.732,15.425,14.395,15.631,682.057,0
2,2,A,82.43,material_7,material_8,9,5,12,1,5,...,12.715,15.607,NaN,13.798,16.711,18.631,14.094,17.946,663.376,0
3,3,A,101.07,material_7,material_8,9,5,13,2,6,...,12.471,16.346,18.377,10.020,15.250,15.562,16.154,17.172,826.282,0
4,4,A,188.06,material_7,material_8,9,5,9,2,8,...,10.337,17.082,19.932,12.428,16.182,12.760,13.153,16.412,579.885,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5095,5095,A,120.39,material_7,material_8,9,5,11,2,4,...,11.083,16.543,18.677,13.552,15.692,13.436,13.017,15.528,NaN,0
5096,5096,A,123.55,material_7,material_8,9,5,8,8,6,...,9.958,15.651,21.133,10.983,16.957,16.642,17.839,19.280,NaN,0
5097,5097,A,119.23,material_7,material_8,9,5,15,3,0,...,11.439,16.905,22.755,12.294,14.443,15.319,16.994,19.321,611.463,0
5098,5098,A,111.27,material_7,material_8,9,5,6,4,4,...,10.707,NaN,20.012,11.342,16.377,15.422,16.646,17.539,697.979,0
5099,5099,A,194.91,material_7,material_8,9,5,10,11,9,...,11.836,17.388,20.300,11.030,15.816,18.161,13.900,15.272,749.749,0

In [10]:
for i in ['A', 'B', 'C', 'D', 'E']:
    globals()['train_{}'.format(i)] = train[train['product_code'] == i]

In [16]:
display(train_A)
display(train_B)
display(train_C)
display(train_D)
train_E

,id,product_code,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,...,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,failure
0,0,A,80.10,material_7,material_8,9,5,7,8,4,...,10.672,15.859,17.594,15.193,15.029,NaN,13.034,14.684,764.100,0
1,1,A,84.89,material_7,material_8,9,5,14,3,3,...,12.448,17.947,17.915,11.755,14.732,15.425,14.395,15.631,682.057,0
2,2,A,82.43,material_7,material_8,9,5,12,1,5,...,12.715,15.607,NaN,13.798,16.711,18.631,14.094,17.946,663.376,0
3,3,A,101.07,material_7,material_8,9,5,13,2,6,...,12.471,16.346,18.377,10.020,15.250,15.562,16.154,17.172,826.282,0
4,4,A,188.06,material_7,material_8,9,5,9,2,8,...,10.337,17.082,19.932,12.428,16.182,12.760,13.153,16.412,579.885,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5095,5095,A,120.39,material_7,material_8,9,5,11,2,4,...,11.083,16.543,18.677,13.552,15.692,13.436,13.017,15.528,NaN,0
5096,5096,A,123.55,material_7,material_8,9,5,8,8,6,...,9.958,15.651,21.133,10.983,16.957,16.642,17.839,19.280,NaN,0
5097,5097,A,119.23,material_7,material_8,9,5,15,3,0,...,11.439,16.905,22.755,12.294,14.443,15.319,16.994,19.321,611.463,0
5098,5098,A,111.27,material_7,material_8,9,5,6,4,4,...,10.707,NaN,20.012,11.342,16.377,15.422,16.646,17.539,697.979,0
5099,5099,A,194.91,material_7,material_8,9,5,10,11,9,...,11.836,17.388,20.300,11.030,15.816,18.161,13.900,15.272,749.749,0

,id,product_code,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,...,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,failure
5100,5100,B,81.46,material_5,material_5,8,8,12,12,4,...,12.261,14.961,18.640,11.267,16.658,15.403,14.786,17.417,761.784,0
5101,5101,B,92.59,material_5,material_5,8,8,7,3,8,...,11.845,18.434,21.331,12.767,14.080,17.255,15.344,16.296,569.667,0
5102,5102,B,179.82,material_5,material_5,8,8,5,11,10,...,12.171,17.084,18.645,10.618,18.361,16.001,18.012,18.445,589.286,0
5103,5103,B,129.10,material_5,material_5,8,8,3,3,9,...,10.523,17.849,19.328,10.738,18.896,17.661,15.544,16.645,646.248,0
5104,5104,B,130.43,material_5,material_5,8,8,13,14,17,...,12.318,16.095,22.801,11.450,15.376,17.048,14.007,NaN,638.087,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10345,10345,B,120.94,material_5,material_5,8,8,5,6,7,...,10.681,16.021,20.451,11.638,15.615,16.670,17.737,16.202,650.520,0
10346,10346,B,96.60,material_5,material_5,8,8,3,13,12,...,12.048,16.217,20.381,11.338,18.533,15.937,13.026,20.630,710.759,1
10347,10347,B,105.82,material_5,material_5,8,8,2,11,3,...,10.527,16.999,17.636,12.410,NaN,17.040,14.885,16.290,673.879,1
10348,10348,B,82.07,material_5,material_5,8,8,2,4,11,...,12.076,15.741,19.937,10.956,14.832,17.106,16.910,15.281,926.387,0
10349,10349,B,115.51,material_5,material_5,8,8,4,1,10,...,12.214,14.514,19.491,NaN,14.409,15.685,14.938,15.603,556.012,1

,id,product_code,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,...,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,failure
10350,10350,C,111.30,material_7,material_8,5,8,4,7,6,...,11.380,16.083,NaN,13.290,16.202,18.518,16.589,18.701,580.378,0
10351,10351,C,127.17,material_7,material_8,5,8,6,11,4,...,11.912,16.257,17.474,11.300,16.547,17.147,13.891,15.667,647.879,0
10352,10352,C,99.69,material_7,material_8,5,8,6,7,8,...,10.995,14.918,17.933,10.389,15.755,16.470,16.199,14.784,715.385,0
10353,10353,C,114.54,material_7,material_8,5,8,13,5,1,...,10.791,17.590,16.633,11.474,15.046,18.419,NaN,16.177,NaN,0
10354,10354,C,211.52,material_7,material_8,5,8,7,6,5,...,11.295,17.590,18.592,11.684,15.717,17.500,16.392,NaN,782.793,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16110,16110,C,118.14,material_7,material_8,5,8,1,9,3,...,11.181,16.391,20.434,9.365,16.182,15.934,12.487,14.615,433.006,0
16111,16111,C,119.86,material_7,material_8,5,8,10,9,9,...,10.959,16.567,18.430,11.836,15.767,18.049,15.346,15.337,572.642,1
16112,16112,C,122.66,material_7,material_8,5,8,8,9,9,...,10.333,18.631,17.557,11.959,16.202,14.098,14.110,15.025,486.221,0
16113,16113,C,102.18,material_7,material_8,5,8,6,9,14,...,12.844,15.222,21.640,10.923,14.819,15.180,14.735,14.727,867.366,1
16114,16114,C,147.95,material_7,material_8,5,8,6,10,6,...,11.786,16.000,17.703,11.779,15.417,18.915,16.474,13.720,787.578,0

,id,product_code,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,...,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,failure
16115,16115,D,76.89,material_7,material_5,6,6,16,2,7,...,11.536,14.690,19.622,11.082,16.323,15.633,16.153,15.640,648.974,1
16116,16116,D,96.13,material_7,material_5,6,6,9,10,5,...,10.746,NaN,18.475,10.174,15.710,16.274,12.229,17.204,741.103,0
16117,16117,D,124.40,material_7,material_5,6,6,10,15,0,...,10.240,16.035,18.224,11.005,15.925,16.257,16.338,17.653,NaN,0
16118,16118,D,175.84,material_7,material_5,6,6,4,8,15,...,12.015,18.195,19.410,10.761,16.176,16.926,13.813,13.615,NaN,1
16119,16119,D,118.70,material_7,material_5,6,6,15,8,5,...,12.615,15.775,18.778,9.683,NaN,17.066,14.690,18.798,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21222,21222,D,111.03,material_7,material_5,6,6,7,13,8,...,13.988,NaN,21.500,10.596,14.833,18.031,17.688,15.257,689.243,0
21223,21223,D,175.93,material_7,material_5,6,6,2,5,9,...,9.307,16.060,18.213,12.075,15.825,16.138,14.821,17.246,831.063,0
21224,21224,D,94.40,material_7,material_5,6,6,9,10,2,...,12.160,19.512,18.563,12.369,15.738,18.406,15.719,12.468,640.279,0
21225,21225,D,146.29,material_7,material_5,6,6,3,10,14,...,9.612,20.372,19.107,12.737,14.927,18.719,15.970,12.154,681.425,1
21226,21226,D,93.14,material_7,material_5,6,6,16,4,13,...,9.943,15.443,17.615,10.843,15.654,15.540,14.882,15.956,924.368,0

,id,product_code,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,...,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,failure
21227,21227,E,106.56,material_7,material_6,6,9,5,14,7,...,10.137,18.135,19.908,11.219,15.405,NaN,NaN,15.548,NaN,0
21228,21228,E,125.88,material_7,material_6,6,9,1,2,16,...,12.805,18.255,20.823,10.659,17.877,NaN,14.744,15.155,537.426,1
21229,21229,E,159.94,material_7,material_6,6,9,6,10,10,...,8.479,13.939,18.627,12.003,15.298,19.076,14.972,16.820,537.094,0
21230,21230,E,152.40,material_7,material_6,6,9,1,8,6,...,11.845,17.015,20.150,10.950,15.244,14.510,14.409,14.882,802.180,1
21231,21231,E,183.33,material_7,material_6,6,9,7,16,8,...,11.567,15.455,19.579,12.605,NaN,15.377,NaN,16.764,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26565,26565,E,158.95,material_7,material_6,6,9,6,16,4,...,NaN,12.177,17.942,10.112,15.795,18.572,16.144,NaN,729.131,0
26566,26566,E,146.02,material_7,material_6,6,9,10,12,8,...,11.242,14.179,20.564,10.234,14.450,14.322,13.146,16.471,853.924,0
26567,26567,E,115.62,material_7,material_6,6,9,1,10,1,...,11.407,16.437,17.476,8.668,15.069,16.599,15.590,14.065,750.364,0
26568,26568,E,106.38,material_7,material_6,6,9,2,9,4,...,11.392,17.064,17.814,14.928,16.273,15.485,13.624,12.865,730.156,0
26569,26569,E,131.20,material_7,material_6,6,9,6,19,1,...,10.611,15.603,19.703,11.006,15.875,13.366,16.527,17.890,602.354,0

In [17]:
train_A.isnull().sum()

id                  0
product_code        0
loading            49
attribute_0         0
attribute_1         0
attribute_2         0
attribute_3         0
measurement_0       0
measurement_1       0
measurement_2       0
measurement_3      68
measurement_4     102
measurement_5     151
measurement_6     175
measurement_7     176
measurement_8     187
measurement_9     225
measurement_10    257
measurement_11    296
measurement_12    326
measurement_13    330
measurement_14    316
measurement_15    377
measurement_16    388
measurement_17    426
failure             0
dtype: int64

In [18]:
train_A.describe()

,id,loading,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,measurement_3,measurement_4,measurement_5,...,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,failure
count,5100.000000,5051.000000,5100.0,5100.0,5100.000000,5100.000000,5100.000000,5032.000000,4998.000000,4949.000000,...,4875.000000,4843.000000,4804.000000,4774.000000,4770.000000,4784.000000,4723.000000,4712.000000,4674.000000,5100.000000
mean,2549.500000,127.469361,9.0,5.0,10.325882,4.229412,5.226078,17.808524,11.716103,17.143195,...,11.436477,16.124386,19.439558,12.249168,15.585325,16.110886,14.456503,16.410397,702.646048,0.227255
std,1472.387517,39.093590,0.0,0.0,4.230892,2.723428,2.884531,0.998438,0.998254,0.990529,...,0.991172,0.995921,1.638846,1.425327,0.997598,1.546100,1.592045,1.634601,106.622368,0.419100
min,0.000000,33.160000,9.0,5.0,0.000000,0.000000,0.000000,13.968000,8.155000,12.813000,...,7.537000,11.885000,12.620000,7.291000,12.030000,10.556000,9.255000,11.448000,309.406000,0.000000
25%,1274.750000,99.820000,9.0,5.0,7.000000,2.000000,3.000000,17.132750,11.027250,16.470000,...,10.763500,15.448000,18.308500,11.271000,14.910250,15.015750,13.381000,15.221000,632.459500,0.000000
50%,2549.500000,121.960000,9.0,5.0,10.000000,4.000000,5.000000,17.808000,11.716000,17.128000,...,11.443000,16.138000,19.460000,12.339500,15.586000,16.026500,14.377000,16.323500,703.041500,0.000000
75%,3824.250000,148.840000,9.0,5.0,13.000000,6.000000,7.000000,18.476000,12.391750,17.802000,...,12.102000,16.775000,20.616250,13.269750,16.245000,17.242250,15.408000,17.549000,774.510750,0.000000
max,5099.000000,342.880000,9.0,5.0,26.000000,18.000000,19.000000,21.022000,16.484000,21.425000,...,15.045000,20.199000,24.960000,17.392000,19.774000,20.598000,21.515000,22.447000,1084.267000,1.000000

In [33]:
train_A_0 = train[(train['product_code'] == 'A') & (train['failure'] == 0)]
train_B_0 = train[(train['product_code'] == 'B') & (train['failure'] == 0)]
train_C_0 = train[(train['product_code'] == 'C') & (train['failure'] == 0)]
train_D_0 = train[(train['product_code'] == 'D') & (train['failure'] == 0)]
train_E_0 = train[(train['product_code'] == 'E') & (train['failure'] == 0)]

In [34]:
train_A_0.failure.unique()

array([0], dtype=int64)

In [35]:
train_A_1 = train[(train['product_code'] == 'A') & (train['failure'] == 1)]
train_B_1 = train[(train['product_code'] == 'B') & (train['failure'] == 1)]
train_C_1 = train[(train['product_code'] == 'C') & (train['failure'] == 1)]
train_D_1 = train[(train['product_code'] == 'D') & (train['failure'] == 1)]
train_E_1 = train[(train['product_code'] == 'E') & (train['failure'] == 1)]

In [38]:
train_A_1.failure.mean()

1.0

In [40]:
for i in ['A', 'B', 'C', 'D','E']:
    for j in range(2):
        globals()['train_{}_{}'.format(i, j)] = train[(train['product_code'] == i) & (train['failure'] == j)]

In [41]:
train_B_1.product_code.unique()

array(['B'], dtype=object)

In [42]:
train_C_1.failure.unique()

array([1], dtype=int64)

In [45]:
train_A_1.describe()

,id,loading,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,measurement_3,measurement_4,measurement_5,...,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,failure
count,1159.000000,1141.000000,1159.0,1159.0,1159.000000,1159.000000,1159.000000,1149.000000,1136.00000,1119.000000,...,1104.000000,1094.000000,1093.000000,1075.000000,1081.000000,1089.000000,1076.000000,1072.000000,1055.00000,1159.0
mean,2534.566868,137.556275,9.0,5.0,10.271786,4.238136,5.263158,17.826853,11.68703,17.167304,...,11.390891,16.108065,19.406183,12.165451,15.575944,16.122792,14.509579,16.416817,706.63681,1.0
std,1459.168433,41.516356,0.0,0.0,4.280270,2.722369,2.886862,0.973211,0.99584,1.038510,...,0.972126,1.004023,1.639606,1.449410,0.998077,1.557194,1.594144,1.618476,107.05692,0.0
min,6.000000,51.300000,9.0,5.0,0.000000,0.000000,0.000000,14.713000,8.63300,12.813000,...,8.592000,13.038000,14.176000,7.291000,12.721000,11.345000,9.695000,11.915000,330.71400,1.0
25%,1285.000000,107.640000,9.0,5.0,7.000000,2.000000,3.000000,17.159000,10.99525,16.529000,...,10.724500,15.440000,18.301000,11.134500,14.912000,14.998000,13.395500,15.170500,635.65000,1.0
50%,2569.000000,132.630000,9.0,5.0,10.000000,4.000000,5.000000,17.818000,11.71500,17.135000,...,11.393500,16.115500,19.432000,12.293000,15.560000,16.050000,14.445000,16.323500,706.09000,1.0
75%,3776.500000,160.720000,9.0,5.0,13.000000,6.000000,7.000000,18.483000,12.39050,17.820000,...,12.074000,16.768750,20.555000,13.189000,16.247000,17.263000,15.487500,17.516750,782.10050,1.0
max,5094.000000,336.360000,9.0,5.0,25.000000,18.000000,19.000000,20.855000,15.06900,21.425000,...,14.695000,18.889000,24.858000,16.564000,19.252000,20.598000,20.623000,21.416000,1053.08900,1.0

In [46]:
train_A_0.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3941 entries, 0 to 5099
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              3941 non-null   int64
 1   product_code    3941 non-null   object
 2   loading         3910 non-null   float64
 3   attribute_0     3941 non-null   object
 4   attribute_1     3941 non-null   object
 5   attribute_2     3941 non-null   int64
 6   attribute_3     3941 non-null   int64
 7   measurement_0   3941 non-null   int64
 8   measurement_1   3941 non-null   int64
 9   measurement_2   3941 non-null   int64
 10  measurement_3   3883 non-null   float64
 11  measurement_4   3862 non-null   float64
 12  measurement_5   3830 non-null   float64
 13  measurement_6   3802 non-null   float64
 14  measurement_7   3812 non-null   float64
 15  measurement_8   3791 non-null   float64
 16  measurement_9   3771 non-null   float64
 17  measurement_10  3749 non-null   float64
 18  measurement_11  3711 non-null   float64
 19  measurement_12  3699 non-null   float64
 20  measurement_13  3689 non-null   float64
 21  measurement_14  3695 non-null   float64
 22  measurement_15  3647 non-null   float64
 23  measurement_16  3640 non-null   float64
 24  measurement_17  3619 non-null   float64
 25  failure         3941 non-null   int64
dtypes: float64(16), int64(7), object(3)
memory usage: 831.3+ KB

In [49]:
train_A_0.fillna(train_A_0.mean()).mean() == train_A_0.mean()

C:\Users\HYOUNG~1\AppData\Local\Temp/ipykernel_13496/2166954359.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  train_A_0.fillna(train_A_0.mean()).mean() == train_A_0.mean()

id                 True
loading           False
attribute_2        True
attribute_3        True
measurement_0      True
measurement_1      True
measurement_2      True
measurement_3     False
measurement_4     False
measurement_5     False
measurement_6     False
measurement_7     False
measurement_8     False
measurement_9     False
measurement_10    False
measurement_11    False
measurement_12    False
measurement_13    False
measurement_14    False
measurement_15    False
measurement_16    False
measurement_17    False
failure            True
dtype: bool

In [51]:
train_A_0['loading'].fillna(train_A_0['loading'].mean()).mean() == train_A_0['loading'].mean()

False

In [52]:
train_A_0['loading'].mean()

124.52583887468039

In [54]:
train_A_0['loading'].sum()/len(train_A_0)

123.5463156559249

In [58]:
for i in train_A_0.columns.drop(['id', 'product_code', 'attribute_0', 'attribute_1']):
    train_A_0[i] = train_A_0[i].fillna(train_A_0[i].mean())

C:\Users\HYOUNG~1\AppData\Local\Temp/ipykernel_13496/1542974730.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_A_0[i] = train_A_0[i].fillna(train_A_0[i].mean())

In [62]:
train_A_0.describe()

,id,loading,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,measurement_3,measurement_4,measurement_5,...,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,failure
count,3941.000000,3941.000000,3941.0,3941.0,3941.000000,3941.000000,3941.000000,3941.000000,3941.000000,3941.000000,...,3941.000000,3941.000000,3941.000000,3941.000000,3941.000000,3941.000000,3941.000000,3941.000000,3941.000000,3941.0
mean,2553.891652,124.525839,9.0,5.0,10.341791,4.226846,5.215174,17.803100,11.724654,17.136151,...,11.449822,16.129148,19.449388,12.273498,15.588073,16.107377,14.440844,16.408506,701.482673,0.0
std,1476.407814,37.710750,0.0,0.0,4.216676,2.724079,2.884121,0.998409,0.988866,0.962246,...,0.974679,0.969116,1.590164,1.373299,0.965146,1.494063,1.530784,1.575664,102.038132,0.0
min,0.000000,33.160000,9.0,5.0,0.000000,0.000000,0.000000,13.968000,8.155000,13.395000,...,7.537000,11.885000,12.620000,7.864000,12.030000,10.556000,9.255000,11.448000,309.406000,0.0
25%,1270.000000,98.010000,9.0,5.0,7.000000,2.000000,3.000000,17.141000,11.063000,16.481000,...,10.827000,15.490000,18.384000,11.395000,14.963000,15.101000,13.461000,15.326000,638.305000,0.0
50%,2541.000000,119.280000,9.0,5.0,10.000000,4.000000,5.000000,17.803100,11.724654,17.136151,...,11.449822,16.129148,19.449388,12.273498,15.588073,16.107377,14.440844,16.408506,701.482673,0.0
75%,3846.000000,144.450000,9.0,5.0,13.000000,6.000000,7.000000,18.467000,12.376000,17.775000,...,12.083000,16.742000,20.551000,13.225000,16.194000,17.157000,15.305000,17.437000,764.627000,0.0
max,5099.000000,342.880000,9.0,5.0,26.000000,18.000000,17.000000,21.022000,16.484000,20.791000,...,15.045000,20.199000,24.960000,17.392000,19.774000,20.559000,21.515000,22.447000,1084.267000,0.0

In [61]:
train_A_0.isnull().sum()

id                0
product_code      0
loading           0
attribute_0       0
attribute_1       0
attribute_2       0
attribute_3       0
measurement_0     0
measurement_1     0
measurement_2     0
measurement_3     0
measurement_4     0
measurement_5     0
measurement_6     0
measurement_7     0
measurement_8     0
measurement_9     0
measurement_10    0
measurement_11    0
measurement_12    0
measurement_13    0
measurement_14    0
measurement_15    0
measurement_16    0
measurement_17    0
failure           0
dtype: int64

In [64]:
train_A_0["loading"].mean()

124.52583887468045

In [65]:
for i in train_A_0.columns.drop(['id', 'product_code', 'attribute_0', 'attribute_1']):
    train_A_1[i] = train_A_1[i].fillna(train_A_1[i].mean())
    train_B_1[i] = train_B_1[i].fillna(train_B_1[i].mean())
    train_C_1[i] = train_C_1[i].fillna(train_C_1[i].mean())
    train_D_1[i] = train_D_1[i].fillna(train_D_1[i].mean())
    train_E_1[i] = train_E_1[i].fillna(train_E_1[i].mean())
    train_E_0[i] = train_E_0[i].fillna(train_E_0[i].mean())
    train_B_0[i] = train_B_0[i].fillna(train_B_0[i].mean())
    train_C_0[i] = train_C_0[i].fillna(train_C_0[i].mean())
    train_D_0[i] = train_D_0[i].fillna(train_D_0[i].mean())

C:\Users\HYOUNG~1\AppData\Local\Temp/ipykernel_13496/3764500567.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_A_1[i] = train_A_1[i].fillna(train_A_1[i].mean())
C:\Users\HYOUNG~1\AppData\Local\Temp/ipykernel_13496/3764500567.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_B_1[i] = train_B_1[i].fillna(train_B_1[i].mean())
C:\Users\HYOUNG~1\AppData\Local\Temp/ipykernel_13496/3764500567.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_C_1[i] = train_C_1[i].fillna(train_C_1[i].mean())
C:\Users\HYOUNG~1\AppData\Local\Temp/ipykernel_13496/3764500567.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_D_1[i] = train_D_1[i].fillna(train_D_1[i].mean())
C:\Users\HYOUNG~1\AppData\Local\Temp/ipykernel_13496/3764500567.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_E_1[i] = train_E_1[i].fillna(train_E_1[i].mean())
C:\Users\HYOUNG~1\AppData\Local\Temp/ipykernel_13496/3764500567.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_E_0[i] = train_E_0[i].fillna(train_E_0[i].mean())
C:\Users\HYOUNG~1\AppData\Local\Temp/ipykernel_13496/3764500567.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_B_0[i] = train_B_0[i].fillna(train_B_0[i].mean())
C:\Users\HYOUNG~1\AppData\Local\Temp/ipykernel_13496/3764500567.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_C_0[i] = train_C_0[i].fillna(train_C_0[i].mean())
C:\Users\HYOUNG~1\AppData\Local\Temp/ipykernel_13496/3764500567.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_D_0[i] = train_D_0[i].fillna(train_D_0[i].mean())

In [66]:
train_A_1.isnull().sum()

id                0
product_code      0
loading           0
attribute_0       0
attribute_1       0
attribute_2       0
attribute_3       0
measurement_0     0
measurement_1     0
measurement_2     0
measurement_3     0
measurement_4     0
measurement_5     0
measurement_6     0
measurement_7     0
measurement_8     0
measurement_9     0
measurement_10    0
measurement_11    0
measurement_12    0
measurement_13    0
measurement_14    0
measurement_15    0
measurement_16    0
measurement_17    0
failure           0
dtype: int64

In [67]:
train_B_0.isnull().sum()

id                0
product_code      0
loading           0
attribute_0       0
attribute_1       0
attribute_2       0
attribute_3       0
measurement_0     0
measurement_1     0
measurement_2     0
measurement_3     0
measurement_4     0
measurement_5     0
measurement_6     0
measurement_7     0
measurement_8     0
measurement_9     0
measurement_10    0
measurement_11    0
measurement_12    0
measurement_13    0
measurement_14    0
measurement_15    0
measurement_16    0
measurement_17    0
failure           0
dtype: int64

In [68]:
train_B_0.isnull().sum()

id                0
product_code      0
loading           0
attribute_0       0
attribute_1       0
attribute_2       0
attribute_3       0
measurement_0     0
measurement_1     0
measurement_2     0
measurement_3     0
measurement_4     0
measurement_5     0
measurement_6     0
measurement_7     0
measurement_8     0
measurement_9     0
measurement_10    0
measurement_11    0
measurement_12    0
measurement_13    0
measurement_14    0
measurement_15    0
measurement_16    0
measurement_17    0
failure           0
dtype: int64

In [69]:
train_B_1.isnull().sum()

id                0
product_code      0
loading           0
attribute_0       0
attribute_1       0
attribute_2       0
attribute_3       0
measurement_0     0
measurement_1     0
measurement_2     0
measurement_3     0
measurement_4     0
measurement_5     0
measurement_6     0
measurement_7     0
measurement_8     0
measurement_9     0
measurement_10    0
measurement_11    0
measurement_12    0
measurement_13    0
measurement_14    0
measurement_15    0
measurement_16    0
measurement_17    0
failure           0
dtype: int64

In [70]:
train_C_0.isnull().sum()

id                0
product_code      0
loading           0
attribute_0       0
attribute_1       0
attribute_2       0
attribute_3       0
measurement_0     0
measurement_1     0
measurement_2     0
measurement_3     0
measurement_4     0
measurement_5     0
measurement_6     0
measurement_7     0
measurement_8     0
measurement_9     0
measurement_10    0
measurement_11    0
measurement_12    0
measurement_13    0
measurement_14    0
measurement_15    0
measurement_16    0
measurement_17    0
failure           0
dtype: int64

In [71]:
train_C_1.isnull().sum()

id                0
product_code      0
loading           0
attribute_0       0
attribute_1       0
attribute_2       0
attribute_3       0
measurement_0     0
measurement_1     0
measurement_2     0
measurement_3     0
measurement_4     0
measurement_5     0
measurement_6     0
measurement_7     0
measurement_8     0
measurement_9     0
measurement_10    0
measurement_11    0
measurement_12    0
measurement_13    0
measurement_14    0
measurement_15    0
measurement_16    0
measurement_17    0
failure           0
dtype: int64

In [72]:
train_D_0.isnull().sum()

id                0
product_code      0
loading           0
attribute_0       0
attribute_1       0
attribute_2       0
attribute_3       0
measurement_0     0
measurement_1     0
measurement_2     0
measurement_3     0
measurement_4     0
measurement_5     0
measurement_6     0
measurement_7     0
measurement_8     0
measurement_9     0
measurement_10    0
measurement_11    0
measurement_12    0
measurement_13    0
measurement_14    0
measurement_15    0
measurement_16    0
measurement_17    0
failure           0
dtype: int64

In [73]:
train_D_1.isnull().sum()

id                0
product_code      0
loading           0
attribute_0       0
attribute_1       0
attribute_2       0
attribute_3       0
measurement_0     0
measurement_1     0
measurement_2     0
measurement_3     0
measurement_4     0
measurement_5     0
measurement_6     0
measurement_7     0
measurement_8     0
measurement_9     0
measurement_10    0
measurement_11    0
measurement_12    0
measurement_13    0
measurement_14    0
measurement_15    0
measurement_16    0
measurement_17    0
failure           0
dtype: int64

In [74]:
train_E_0.isnull().sum()

id                0
product_code      0
loading           0
attribute_0       0
attribute_1       0
attribute_2       0
attribute_3       0
measurement_0     0
measurement_1     0
measurement_2     0
measurement_3     0
measurement_4     0
measurement_5     0
measurement_6     0
measurement_7     0
measurement_8     0
measurement_9     0
measurement_10    0
measurement_11    0
measurement_12    0
measurement_13    0
measurement_14    0
measurement_15    0
measurement_16    0
measurement_17    0
failure           0
dtype: int64

In [75]:
train_E_1.isnull().sum()

id                0
product_code      0
loading           0
attribute_0       0
attribute_1       0
attribute_2       0
attribute_3       0
measurement_0     0
measurement_1     0
measurement_2     0
measurement_3     0
measurement_4     0
measurement_5     0
measurement_6     0
measurement_7     0
measurement_8     0
measurement_9     0
measurement_10    0
measurement_11    0
measurement_12    0
measurement_13    0
measurement_14    0
measurement_15    0
measurement_16    0
measurement_17    0
failure           0
dtype: int64

In [77]:
train_A_1.describe() == train_B_1.describe()

,id,loading,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,measurement_3,measurement_4,measurement_5,...,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,failure
count,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
mean,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
std,False,False,True,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
min,False,False,False,False,True,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
25%,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
50%,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
75%,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
max,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [78]:
df = pd.concat([train_A_0, train_A_1, train_B_0, train_B_1, train_C_0, train_C_1, train_D_0, train_D_1, train_E_0, train_E_1])

In [79]:
df.shape == train.shape

True

In [82]:
df = df.drop(columns = ['id', 'product_code'])
df

,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,measurement_3,measurement_4,...,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,failure
0,80.10,material_7,material_8,9,5,7,8,4,18.040,12.518,...,10.672,15.859000,17.594000,15.193,15.029000,16.107377,13.034,14.684,764.100000,0
1,84.89,material_7,material_8,9,5,14,3,3,18.213,11.540,...,12.448,17.947000,17.915000,11.755,14.732000,15.425000,14.395,15.631,682.057000,0
2,82.43,material_7,material_8,9,5,12,1,5,18.057,11.652,...,12.715,15.607000,19.449388,13.798,16.711000,18.631000,14.094,17.946,663.376000,0
3,101.07,material_7,material_8,9,5,13,2,6,17.295,11.188,...,12.471,16.346000,18.377000,10.020,15.250000,15.562000,16.154,17.172,826.282000,0
4,188.06,material_7,material_8,9,5,9,2,8,19.346,12.950,...,10.337,17.082000,19.932000,12.428,16.182000,12.760000,13.153,16.412,579.885000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26545,100.26,material_7,material_6,6,9,4,19,0,18.271,10.381,...,10.476,14.399000,18.824000,12.666,15.558046,14.601000,14.995,17.420,808.354000,1
26546,103.60,material_7,material_6,6,9,1,15,3,15.835,12.629,...,12.265,14.193000,19.618000,12.310,16.160000,15.490000,14.522,17.863,731.105000,1
26553,121.42,material_7,material_6,6,9,1,9,6,18.186,10.698,...,11.199,14.626000,19.368000,10.795,14.981000,13.140000,14.845,15.577,795.590000,1
26554,159.43,material_7,material_6,6,9,3,13,7,19.029,12.330,...,10.795,17.600000,20.324000,12.350,14.607000,15.494000,15.472,14.185,708.257224,1
26559,120.73,material_7,material_6,6,9,2,9,9,19.446,12.548,...,12.751,15.741271,19.339000,10.699,15.836000,16.181000,15.864,18.522,1073.039000,1

In [84]:
df = pd.get_dummies(data = df, columns = ['attribute_0', 'attribute_1'])

In [85]:
df

,loading,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,measurement_3,measurement_4,measurement_5,measurement_6,...,measurement_14,measurement_15,measurement_16,measurement_17,failure,attribute_0_material_5,attribute_0_material_7,attribute_1_material_5,attribute_1_material_6,attribute_1_material_8
0,80.10,9,5,7,8,4,18.040,12.518,15.748,19.292000,...,16.107377,13.034,14.684,764.100000,0,0,1,0,0,1
1,84.89,9,5,14,3,3,18.213,11.540,17.717,17.893000,...,15.425000,14.395,15.631,682.057000,0,0,1,0,0,1
2,82.43,9,5,12,1,5,18.057,11.652,16.738,18.240000,...,18.631000,14.094,17.946,663.376000,0,0,1,0,0,1
3,101.07,9,5,13,2,6,17.295,11.188,18.576,18.339000,...,15.562000,16.154,17.172,826.282000,0,0,1,0,0,1
4,188.06,9,5,9,2,8,19.346,12.950,16.990,15.746000,...,12.760000,13.153,16.412,579.885000,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26545,100.26,6,9,4,19,0,18.271,10.381,17.773,18.459000,...,14.601000,14.995,17.420,808.354000,1,0,1,0,1,0
26546,103.60,6,9,1,15,3,15.835,12.629,16.460,17.414000,...,15.490000,14.522,17.863,731.105000,1,0,1,0,1,0
26553,121.42,6,9,1,9,6,18.186,10.698,17.157,19.184000,...,13.140000,14.845,15.577,795.590000,1,0,1,0,1,0
26554,159.43,6,9,3,13,7,19.029,12.330,17.263,17.571856,...,15.494000,15.472,14.185,708.257224,1,0,1,0,1,0
26559,120.73,6,9,2,9,9,19.446,12.548,18.185,17.571856,...,16.181000,15.864,18.522,1073.039000,1,0,1,0,1,0

In [86]:
test

,id,product_code,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,...,measurement_8,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17
0,26570,F,119.57,material_5,material_6,6,4,6,9,6,...,18.654,10.802,15.909,18.070,13.772,13.659,16.825,13.742,17.710,634.612
1,26571,F,113.51,material_5,material_6,6,4,11,8,0,...,19.368,12.032,13.998,NaN,12.473,17.468,16.708,14.776,14.102,537.037
2,26572,F,112.16,material_5,material_6,6,4,8,12,4,...,17.774,11.743,17.046,18.086,10.907,13.363,15.737,17.065,16.021,658.995
3,26573,F,112.72,material_5,material_6,6,4,8,11,10,...,18.948,11.790,18.165,16.163,10.933,15.501,15.667,12.620,16.111,594.301
4,26574,F,208.00,material_5,material_6,6,4,14,16,8,...,19.141,12.370,14.578,17.849,11.941,16.070,16.183,13.324,17.150,801.044
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20770,47340,I,144.74,material_7,material_5,9,5,0,4,9,...,18.573,11.691,NaN,19.771,11.562,17.246,15.131,15.209,NaN,696.466
20771,47341,I,74.53,material_7,material_5,9,5,4,8,7,...,17.917,10.980,16.027,15.694,13.564,15.494,15.296,13.812,16.501,613.249
20772,47342,I,67.73,material_7,material_5,9,5,10,11,2,...,19.630,10.436,16.137,20.612,11.134,16.519,15.525,14.175,17.728,783.349
20773,47343,I,126.15,material_7,material_5,9,5,8,16,11,...,19.575,12.672,15.422,19.496,9.319,15.817,17.403,16.437,15.179,745.210
20774,47344,I,85.97,material_7,material_5,9,5,0,11,11,...,19.253,9.977,17.270,17.924,13.726,14.605,17.460,16.261,16.482,647.980

In [88]:
df_test = test.drop(columns = ['id'])